<script setup lang="ts">
import { ref, computed, onActivated, nextTick } from 'vue';
import { useRouter, useRoute } from 'vue-router';
import { Icon } from '@iconify/vue';
import mdiRun from '@iconify-icons/mdi/run';
import mdiLoginVariant from '@iconify-icons/mdi/login-variant';
import { useCoreStore } from '@base-workspace/bw-core';
import { LocaleActor } from '@base-workspace/bw-locale';
import { BlockPanel } from '@base-workspace/bw-ui';
import { usePlayerStore } from '../../stores/player';
import Layout from '../../components/app/Layout.vue';
import Header from '../../components/app/Header.vue';

const coreStore = useCoreStore();
const router = useRouter();
const route = useRoute();
const playerStore = usePlayerStore();

const la = new LocaleActor('pages.player.connection');

const connCode = ref<string>('');
const errorCode = ref<string>('');
const distCodeInput = ref();
const playerName = ref<string>('');
const playerNameInput = ref();

if (route.query.code) {
  connCode.value = route.query.code as string;
  formatDistCode();
}

const isReadyToConnect = computed<boolean>(() => {
  return connCode.value.length === 4 && playerName.value !== '';
});

onActivated(async () => {
  coreStore.currentPageCode = 'player-connection';
  nextTick(() => {
    if (distCodeInput.value) {
      distCodeInput.value.focus();
    }
  });
});

function onConnectBtnClicked() {
  playerStore.assignPlayerName(playerName.value);
  const error = playerStore.connect(connCode.value.replace(/\D/g, ''));
  if (error !== 'ok') {
    errorCode.value = error;
    return;
  }
  router.push({ name: 'player_waiting' });
}

function formatDistCode() {
  connCode.value = connCode.value
    .replace(/\D/g, '')
    .replace(/(\d{4})(?=\d)/g, '$1-')
    .slice(0, 4);
}
</script>

<template>
  <Layout :enable-menu-btn-only-toolbar="true">
    <div
      class="bg-jumbo bg-bottom w-full h-full flex items-center justify-center"
    >
      <div class="px-3 w-full max-w-lg flex flex-col gap-3">
        <BlockPanel>
          <template #title>
            <div class="flex items-center text-secondary">
              <Icon class="mr-2" :icon="mdiLoginVariant" width="1.2rem" />
              {{ la.t('.register') }}
            </div>
          </template>
          <div class="m-4 flex flex-col gap-2">
            <input
              v-model="connCode"
              ref="distCodeInput"
              type="tel"
              pattern="[0-9]*"
              inputmode="numeric"
              :placeholder="la.t('.connCode') as string"
              class="w-full input input-bordered text-center text-xl"
              @input="formatDistCode"
            />
            <input
              v-model="playerName"
              ref="playerNameInput"
              type="text"
              :placeholder="la.t('.playerName') as string"
              class="w-full input input-bordered text-center text-xl"
            />
            <label v-if="errorCode" class="label">
              <span class="label-text-alt text-error">{{
                la.t(`.error.${errorCode}`)
              }}</span>
            </label>
            <div class="form-control w-full flex flex-col md:flex-row gap-2">
              <button
                class="flex-1 btn gap-2"
                @click="onConnectBtnClicked"
                :disabled="!isReadyToConnect"
              >
                <Icon :icon="mdiRun" width="1.5rem" />
                {{ la.t('.enter') }}
              </button>
            </div>
          </div>
        </BlockPanel>
      </div>
    </div>
    <template #layout-fixed-top-panel>
      <Header></Header>
    </template>
  </Layout>
</template>
