<script setup lang="ts">
import { onActivated } from 'vue';
import { useRouter } from 'vue-router';
import { Icon } from '@iconify/vue';
import GameIconsEgyptianTemple from '@iconify-icons/game-icons/egyptian-temple';
import { useCoreStore } from '@base-workspace/bw-core';
import { usePlayerStore } from '../../stores/player';
import Layout from '../../components/app/Layout.vue';
import Header from '../../components/app/Header.vue';

const coreStore = useCoreStore();
const router = useRouter();
const playerStore = usePlayerStore();

onActivated(async () => {
  coreStore.currentPageCode = 'player';
  if (!playerStore.publicInfo) {
    router.push({ name: 'player_connection' });
    return;
  }
  switch (playerStore.playerStatus) {
    case 'none':
      router.push({ name: 'player_connection' });
      break;
    case 'registered':
      if (playerStore.publicInfo.status === 'gameover') {
        router.push({ name: 'player_gameover' });
      } else {
        router.push({ name: 'player_info' });
      }
      break;
  }
});
</script>

<template>
  <Layout :enable-menu-btn-only-toolbar="true">
    <div class="w-full h-full overflow-y-auto">
      <div class="flex flex-col gap-3">
        <Icon :icon="GameIconsEgyptianTemple" width="3rem" />
      </div>
    </div>
    <template #layout-fixed-top-panel>
      <Header></Header>
    </template>
  </Layout>
</template>
