<script setup lang="ts">
import { onActivated } from 'vue';
import { useRouter } from 'vue-router';
import { Icon } from '@iconify/vue';
import mdiConnection from '@iconify-icons/mdi/connection';
import mdiRun from '@iconify-icons/mdi/run';
import GameIconsDigDug from '@iconify-icons/game-icons/dig-dug';
import GameIconsTribalShield from '@iconify-icons/game-icons/tribal-shield';
import { useCoreStore } from '@base-workspace/bw-core';
import { LocaleActor } from '@base-workspace/bw-locale';
import { usePlayerStore } from '../../stores/player';
import Layout from '../../components/app/Layout.vue';
import GameOverPanel from '../../components/panel/GameOverPanel.vue';

const coreStore = useCoreStore();
const router = useRouter();
const la = new LocaleActor('pages.player.gameover');
const playerStore = usePlayerStore();

onActivated(() => {
  coreStore.currentPageCode = 'player-gameover';
});

function onDisconnectBtnClicked() {
  playerStore.disconnect();
  router.push({ name: 'player_connection' });
}

function onContinueBtnClicked() {
  router.push({ name: 'player_waiting' });
}
</script>

<template>
  <Layout :enable-menu-btn-only-toolbar="true">
    <div
      class="w-full h-full p-3 overflow-y-auto flex flex-col justify-center items-center gap-5"
    >
      <GameOverPanel
        v-if="playerStore.gameOverInfo"
        :game-over-info="playerStore.gameOverInfo"
      ></GameOverPanel>
      <div class="flex items-center">
        <Icon
          v-if="playerStore.playerRole === 'adventurer'"
          class="adventurer mr-3"
          :icon="GameIconsDigDug"
          width="3rem"
        />
        <Icon
          v-if="playerStore.playerRole === 'guardian'"
          class="guardian mr-3"
          :icon="GameIconsTribalShield"
          width="3rem"
        />
        <div class="my-6 text-2xl font-bold">
          <div
            v-if="playerStore.playerRole === playerStore.gameOverInfo?.winner"
          >
            {{ la.t('.winHint') }}
          </div>
          <div v-else>{{ la.t('.loseHint') }}</div>
        </div>
      </div>
      <div class="w-full max-w-2xl grid grid-cols-1 md:grid-cols-2 gap-2">
        <button class="flex-none btn gap-2" @click="onDisconnectBtnClicked">
          <Icon :icon="mdiConnection" width="1.5rem" />
          {{ la.t('.disconnect') }}
        </button>
        <button
          class="flex-none btn btn-primary gap-2"
          @click="onContinueBtnClicked"
        >
          <Icon :icon="mdiRun" width="1.5rem" />
          {{ la.t('.continue') }}
        </button>
      </div>
    </div>
    <template #toolbar-main-menu> </template>
  </Layout>
</template>
