<script setup lang="ts">
import { onActivated, ref, watch } from 'vue';
import { useRouter } from 'vue-router';
import { Icon } from '@iconify/vue';
import mdiHelpBoxOutline from '@iconify-icons/mdi/help-box-outline';
import GameIconsDigDug from '@iconify-icons/game-icons/dig-dug';
import GameIconsTribalShield from '@iconify-icons/game-icons/tribal-shield';
import GameIconsRupee from '@iconify-icons/game-icons/rupee';
import GameIconsCelebrationFire from '@iconify-icons/game-icons/celebration-fire';
import GameIconsStoneWall from '@iconify-icons/game-icons/stone-wall';
import mdiEye from '@iconify-icons/mdi/eye';
import mdiEyeOffOutline from '@iconify-icons/mdi/eye-off-outline';
import { useCoreStore } from '@base-workspace/bw-core';
import { LocaleActor } from '@base-workspace/bw-locale';
import { BlockPanel } from '@base-workspace/bw-ui';
import { usePlayerStore } from '../../stores/player';
import { DoorKind } from '../../services/game';
import Layout from '../../components/app/Layout.vue';
import PlayerMenuPanel from '../../components/panel/PlayerMenuPanel.vue';
import KeyHolderPanel from '../../components/panel/KeyHolderPanel.vue';
import RolePanel from '../../components/panel/RolePanel.vue';

const coreStore = useCoreStore();
const router = useRouter();
const la = new LocaleActor('pages.player.info');
const playerStore = usePlayerStore();

const showRole = ref<boolean>(false);
const showDoors = ref<boolean>(false);

onActivated(() => {
  coreStore.currentPageCode = 'player-info';
  showRole.value = false;
  showDoors.value = false;
});

watch(
  () => playerStore.publicInfo.status,
  (newStatus) => {
    if (newStatus === 'init') {
      router.push({ name: 'player_connection' });
      return;
    }
    if (newStatus === 'register') {
      router.push({ name: 'player_waiting' });
      return;
    }
    if (newStatus === 'playing') {
      router.push({ name: 'player_info' });
      return;
    }
    if (newStatus === 'next-round') {
      router.push({ name: 'player_room' });
      return;
    }
    if (newStatus === 'gameover') {
      setTimeout(() => {
        router.push({ name: 'player_gameover' });
      }, 1000);
      return;
    }
  }
);

function fetchDoorCount(doorKind: DoorKind): number {
  return playerStore.holdingDoors.filter((door) => door === doorKind).length;
}
</script>

<template>
  <Layout>
    <div class="w-full h-full overflow-y-auto">
      <div
        class="w-full h-full p-3 flex flex-col items-stretch justify-between gap-2"
      >
        <div class="self-center text-lg border-2 border-l-8 p-3">
          {{ la.t('.hiddenHint') }}
        </div>
        <BlockPanel class="flex-1 p-2 flex items-stretch justify-stretch">
          <template #title>
            <div class="flex items-start">
              {{ la.t('game.role') }}
            </div>
          </template>
          <template v-if="playerStore.playerRole === null">
            <div
              class="w-full h-full text-primary text-lg flex justify-center items-center gap-3"
            >
              <Icon
                :icon="mdiHelpBoxOutline"
                class="flex-none m-2"
                width="3rem"
              />
              <div class="text-lg">
                {{ la.t('game.noRole') }}
              </div>
            </div>
          </template>
          <template v-else>
            <template v-if="showRole">
              <button
                class="w-full h-full flex flex-col items-center justify-center gap-5"
                @click="showRole = false"
              >
                <RolePanel :role="playerStore.playerRole"></RolePanel>
                <div class="flex items-center">
                  <Icon
                    :icon="mdiEyeOffOutline"
                    class="flex-none mr-2"
                    width="2rem"
                  />
                  {{ la.t('.clickToHide') }}
                </div>
              </button>
            </template>
            <template v-else>
              <button
                class="w-full h-full border-2 border-dashed rounded-xl text-lg flex justify-center items-center"
                @click="showRole = true"
              >
                <Icon :icon="mdiEye" class="flex-none mr-2" width="2rem" />
                {{ la.t('.clickToShow') }}
              </button>
            </template>
          </template>
        </BlockPanel>
        <BlockPanel class="flex-1 p-2 flex items-center justify-center">
          <template #title>
            <div class="flex items-start">
              {{ la.t('game.doorDist') }}
            </div>
          </template>
          <template v-if="playerStore.holdingDoors.length === 0">
            <div class="text-primary text-lg flex items-center gap-3">
              <Icon
                :icon="mdiHelpBoxOutline"
                class="flex-none m-2"
                width="3rem"
              />
              <div class="text-lg">
                {{ la.t('game.noDoorDist') }}
              </div>
            </div>
          </template>
          <template v-else>
            <template v-if="showDoors">
              <button
                class="w-full h-full flex flex-col items-center justify-center gap-5"
                @click="showDoors = false"
              >
                <div class="flex justify-between gap-3">
                  <div class="gold flex flex-col items-center">
                    <Icon
                      :icon="GameIconsRupee"
                      class="flex-none m-2"
                      width="3.5rem"
                    />
                    <div class="text-xl font-bold">
                      {{ la.t('game.gold') }}
                    </div>
                    <div class="text-3xl">x {{ fetchDoorCount('gold') }}</div>
                  </div>
                  <div class="fire flex flex-col items-center">
                    <Icon
                      :icon="GameIconsCelebrationFire"
                      class="flex-none m-2"
                      width="3.5rem"
                    />
                    <div class="text-xl font-bold">
                      {{ la.t('game.fire') }}
                    </div>
                    <div class="text-3xl">x {{ fetchDoorCount('fire') }}</div>
                  </div>
                  <div class="empty flex flex-col items-center">
                    <Icon
                      :icon="GameIconsStoneWall"
                      class="flex-none m-2"
                      width="3.5rem"
                    />
                    <div class="text-xl font-bold">
                      {{ la.t('game.empty') }}
                    </div>
                    <div class="text-3xl">x {{ fetchDoorCount('empty') }}</div>
                  </div>
                </div>
                <div class="flex items-center">
                  <Icon
                    :icon="mdiEyeOffOutline"
                    class="flex-none mr-2"
                    width="2rem"
                  />
                  {{ la.t('.clickToHide') }}
                </div>
              </button>
            </template>
            <template v-else>
              <button
                class="w-full h-full border-2 border-dashed rounded-xl text-lg flex justify-center items-center"
                @click="showDoors = true"
              >
                <Icon :icon="mdiEye" class="flex-none mr-2" width="2rem" />
                {{ la.t('.clickToShow') }}
              </button>
            </template>
          </template>
        </BlockPanel>
      </div>
    </div>
    <template #toolbar-sub-menu>
      <KeyHolderPanel> </KeyHolderPanel>
    </template>
    <template #toolbar-main-menu>
      <PlayerMenuPanel> </PlayerMenuPanel>
    </template>
  </Layout>
</template>
