<script setup lang="ts">
import { onActivated, watch } from 'vue';
import { useRouter } from 'vue-router';
import { Icon } from '@iconify/vue';
import GameIconsDungeonGate from '@iconify-icons/game-icons/dungeon-gate';
import { LocaleActor } from '@base-workspace/bw-locale';
import { useCoreStore } from '@base-workspace/bw-core';
import { Uid } from '@base-workspace/bw-model';
import { usePlayerStore } from '../../stores/player';
import Layout from '../../components/app/Layout.vue';
import PlayerMenuPanel from '../../components/panel/PlayerMenuPanel.vue';
import CounterPanel from '../../components/panel/CounterPanel.vue';
import KeyHolderPanel from '../../components/panel/KeyHolderPanel.vue';
import DoorPanel from '../../components/panel/DoorPanel.vue';
import { DoorChoice } from '../../services/game';

const coreStore = useCoreStore();
const router = useRouter();
const playerStore = usePlayerStore();
const la = new LocaleActor('pages.player.room');

onActivated(() => {
  coreStore.currentPageCode = 'player-room';
});

watch(
  () => playerStore.publicInfo.status,
  (newStatus) => {
    if (newStatus === 'init') {
      router.push({ name: 'player_connection' });
      return;
    }
    if (newStatus === 'register') {
      router.push({ name: 'player_waiting' });
      return;
    }
    if (newStatus === 'playing') {
      router.push({ name: 'player_info' });
      return;
    }
    if (newStatus === 'next-round') {
      router.push({ name: 'player_room' });
      return;
    }
    if (newStatus === 'gameover') {
      setTimeout(() => {
        router.push({ name: 'player_gameover' });
      }, 1000);
      return;
    }
  }
);

function doorPanelMode(uid: Uid): string {
  if (
    playerStore.isKeyHolder() &&
    playerStore.publicInfo.status === 'playing'
  ) {
    return playerStore.isMe(uid) ? 'disabled' : 'selector';
  } else {
    return 'display';
  }
}

function onDoorSelected(dc: DoorChoice) {
  playerStore.openDoor(dc);
}

function doorHighlightNum(uid: Uid): number | undefined {
  const lastDoorOpen = playerStore.publicInfo.lastDoorOpen;
  if (!lastDoorOpen) {
    return undefined;
  }
  if (lastDoorOpen.uid === uid) {
    return lastDoorOpen.num;
  }
  return undefined;
}
</script>

<template>
  <Layout>
    <div
      class="w-full h-full p-3 flex flex-col items-stretch justify-between gap-2"
    >
      <CounterPanel :public-info="playerStore.publicInfo"></CounterPanel>
      <div
        v-if="
          playerStore.publicInfo.status === 'playing' ||
          playerStore.publicInfo.status === 'next-round' ||
          playerStore.publicInfo.status === 'gameover'
        "
        class="flex-1 overflow-y-auto"
      >
        <div class="grid md:grid-cols-2 md:gap-5 md:pt-3">
          <DoorPanel
            v-for="uid in playerStore.playersInfo.uids"
            :key="uid"
            :uid="uid"
            :player-name="playerStore.playersInfo.nameMap[uid]"
            :is-key-holder="playerStore.publicInfo.keyholderUid === uid"
            :doors="playerStore.publicInfo.playerOpenDoorMap[uid]"
            :highlight="doorHighlightNum(uid)"
            :mode="doorPanelMode(uid)"
            @select="onDoorSelected"
          ></DoorPanel>
        </div>
      </div>
    </div>
    <template #toolbar-sub-menu>
      <div
        v-if="playerStore.publicInfo.status === 'next-round'"
        class="mb-3 px-8 py-3 rounded-xl bg-base-100 flex items-center justify-center gap-5"
      >
        <Icon :icon="GameIconsDungeonGate" width="6rem" />
        <div class="flex flex-col gap-3">
          <div class="text-2xl font-bold">
            {{ la.t('.roundEnd') }}
          </div>
          {{ la.t('.roundEndHint') }}
        </div>
      </div>
      <KeyHolderPanel> </KeyHolderPanel>
    </template>
    <template #toolbar-main-menu>
      <PlayerMenuPanel> </PlayerMenuPanel>
    </template>
  </Layout>
</template>
