<script setup lang="ts">
import { onActivated, watch } from 'vue';
import { useRouter } from 'vue-router';
import { useCoreStore } from '@base-workspace/bw-core';
import { usePlayerStore } from '../../stores/player';
import Layout from '../../components/app/Layout.vue';
import RulePanel from '../../components/panel/RulePanel.vue';
import PlayerMenuPanel from '../../components/panel/PlayerMenuPanel.vue';
import KeyHolderPanel from '../../components/panel/KeyHolderPanel.vue';

const coreStore = useCoreStore();
const router = useRouter();
const playerStore = usePlayerStore();

onActivated(() => {
  coreStore.currentPageCode = 'player-rule';
});

watch(
  () => playerStore.publicInfo.status,
  (newStatus) => {
    if (newStatus === 'init') {
      router.push({ name: 'player_connection' });
      return;
    }
    if (newStatus === 'register') {
      router.push({ name: 'player_waiting' });
      return;
    }
    if (newStatus === 'playing') {
      router.push({ name: 'player_info' });
      return;
    }
    if (newStatus === 'next-round') {
      router.push({ name: 'player_room' });
      return;
    }
    if (newStatus === 'gameover') {
      setTimeout(() => {
        router.push({ name: 'player_gameover' });
      }, 1000);
      return;
    }
  }
);
</script>

<template>
  <Layout>
    <div class="w-full h-full overflow-y-auto">
      <div class="w-full flex flex-col items-center justify-center gap-2">
        <RulePanel></RulePanel>
      </div>
    </div>
    <template #toolbar-sub-menu>
      <KeyHolderPanel> </KeyHolderPanel>
    </template>
    <template #toolbar-main-menu>
      <PlayerMenuPanel> </PlayerMenuPanel>
    </template>
  </Layout>
</template>
