<script setup lang="ts">
import { onActivated, watch } from 'vue';
import { useRouter } from 'vue-router';
import { Icon } from '@iconify/vue';
import GameIconsDungeonGate from '@iconify-icons/game-icons/dungeon-gate';
import { useCoreStore } from '@base-workspace/bw-core';
import { LocaleActor } from '@base-workspace/bw-locale';
import { usePlayerStore } from '../../stores/player';
import Layout from '../../components/app/Layout.vue';

const coreStore = useCoreStore();
const playerStore = usePlayerStore();
const router = useRouter();
const la = new LocaleActor('pages.player.waiting');

onActivated(() => {
  coreStore.currentPageCode = 'player-waiting';
});

watch(
  () => playerStore.publicInfo.status,
  (newStatus) => {
    if (newStatus === 'playing') {
      router.push({ name: 'player_info' });
      return;
    }
    if (newStatus === 'init') {
      router.push({ name: 'player_connection' });
      return;
    }
  }
);
</script>

<template>
  <Layout :enable-menu-btn-only-toolbar="true">
    <div class="w-full h-full flex flex-col items-center justify-center gap-5">
      <Icon :icon="GameIconsDungeonGate" width="10rem" />
      {{ la.t('.hint') }}
    </div>
  </Layout>
</template>
