<script setup lang="ts">
import { onMounted } from 'vue';
import { useRoute } from 'vue-router';

const route = useRoute();

function fixMobile100vh(): void {
  const vh = window.innerHeight * 0.01;
  document.documentElement.style.setProperty('--vh', `${vh}px`);
}

onMounted(() => {
  fixMobile100vh();
  window.addEventListener('resize', () => {
    fixMobile100vh();
  });
});
</script>

<template>
  <RouterView v-slot="{ Component }">
    <template v-if="Component">
      <KeepAlive>
        <component :is="Component" :key="route.fullPath"></component>
      </KeepAlive>
    </template>
  </RouterView>
</template>
