<script setup lang="ts">
import { useCoreStore } from '@base-workspace/bw-core';
import { PageHeader } from '@base-workspace/bw-layout';
import { BreadcrumbsPanel } from '@base-workspace/bw-ui';
import { PAGES } from '../../services/page-def';
import TrademarkPanel from './TrademarkPanel.vue';

const coreStore = useCoreStore();
</script>

<template>
  <PageHeader>
    <template #header-title>
      <div class="flex items-center">
        <TrademarkPanel></TrademarkPanel>
        <BreadcrumbsPanel
          :pages="PAGES"
          :code="coreStore.currentPageCode"
        ></BreadcrumbsPanel>
      </div>
    </template>
  </PageHeader>
</template>
