<script setup lang="ts">
import { useRouter } from 'vue-router';
import { Icon } from '@iconify/vue';
import mdiHome from '@iconify-icons/mdi/home';
import { LocaleActor } from '@base-workspace/bw-locale';

const router = useRouter();
const la = new LocaleActor('app.service');

function onBackToHomeBtnClicked(): void {
  router.push({
    name: 'entry'
  });
}
</script>

<template>
  <button
    class="btn btn-ghost rounded-full flex items-center gap-2"
    @click="onBackToHomeBtnClicked"
  >
    <Icon :icon="mdiHome" width="1.5rem" />
    <div>
      {{ la.t('.home') }}
    </div>
  </button>
</template>
