<script setup lang="ts">
import { ref, useSlots, watch, onActivated } from 'vue';
import { useRouter } from 'vue-router';
import { LocaleActor } from '@base-workspace/bw-locale';
import * as PageGuide from '@base-workspace/bw-page-guide';
import { MainLayout, PageHeader } from '@base-workspace/bw-layout';
import { useCoreStore } from '@base-workspace/bw-core';
import { IconPanel } from '@base-workspace/bw-icon';
import { PAGES } from '../../services/page-def';
import TrademarkPanel from '../app/TrademarkPanel.vue';

const props = defineProps({
  enableToolbarHidden: {
    type: Boolean,
    default: false
  },
  enableMenuBtnOnlyToolbar: {
    type: Boolean,
    default: false
  },
  theme: {
    type: String,
    required: false
  }
});

const coreStore = useCoreStore();
const router = useRouter();
const slots = useSlots();
const la = new LocaleActor();

const mainLayout = ref();
const pageList = ref<PageGuide.PageGuideData[]>([]);
const currentPage = ref<PageGuide.PageGuideData | null>(null);

onActivated(async () => {
  await redraw();
});

watch(
  () => coreStore.currentPageCode,
  async () => {
    await redraw();
  }
);

async function redraw() {
  pageList.value = PageGuide.buildPageList(PAGES, [
    'temple',
    'player',
    'rule',
    'settings',
    'about',
    'entry'
  ]);
  currentPage.value = PageGuide.fetchPageData(PAGES, coreStore.currentPageCode);
}

function onMenuEntryClicked(pageData: PageGuide.PageGuideData): void {
  router.push(pageData.route);
  mainLayout.value.closeMenu();
}

function isCurrentMenuEntryMatched(target: string): boolean {
  return (
    currentPage.value !== null &&
    (target == currentPage.value.code || target == currentPage.value.parent)
  );
}
</script>

<template>
  <MainLayout
    ref="mainLayout"
    :enable-toolbar-hidden="props.enableToolbarHidden"
    :enable-menu-btn-only-toolbar="props.enableMenuBtnOnlyToolbar"
    :theme="'tpds'"
  >
    <template v-if="slots['layout-header']" #layout-header>
      <slot name="layout-header"></slot>
    </template>
    <template #layout-fixed-top-panel>
      <slot name="layout-fixed-top-panel"></slot>
    </template>
    <template #layout-overlay-panel></template>
    <template #layout-fixed-bottom-panel></template>
    <template #side-menu-header>
      <PageHeader>
        <template #header-title>
          <TrademarkPanel :show-name="true"></TrademarkPanel>
        </template>
      </PageHeader>
    </template>
    <template #side-menu-content>
      <ul class="menu p-4">
        <li>
          <template v-for="pm in pageList" :key="pm.code">
            <button
              @click="onMenuEntryClicked(pm)"
              :class="{
                'text-accent': isCurrentMenuEntryMatched(pm.code)
              }"
            >
              <IconPanel
                :icon-info="pm.iconInfo"
                :override="{ size: 1.2 }"
              ></IconPanel>
              {{ la.t(pm.nameLk) }}
            </button>
          </template>
        </li>
      </ul>
    </template>
    <template #side-circle-btns> </template>
    <template #toolbar-sub-menu>
      <slot name="toolbar-sub-menu"></slot>
    </template>
    <template #toolbar-main-menu>
      <slot name="toolbar-main-menu"></slot>
    </template>
    <template #layout-top-layer>
      <slot name="layout-top-layer"></slot>
    </template>
    <template v-slot><slot /></template>
  </MainLayout>
</template>
