<script setup lang="ts">
import { useRouter } from 'vue-router';
import { LocaleActor } from '@base-workspace/bw-locale';
import appStatic from '../../static/app.json';
import logoImg from '../../assets/images/app/logo.svg';

const router = useRouter();
const la = new LocaleActor('app.service');

function onTrademarkToggled(): void {
  router.push({ name: 'entry' });
}
</script>

<template>
  <div
    class="cursor-pointer select-none flex items-center flex-nowrap gap-2"
    tabindex="0"
    @click="onTrademarkToggled"
    @keyup.enter="onTrademarkToggled"
  >
    <img :src="logoImg" class="flex-none w-10" />
    <div
      class="text-xl"
      :style="{
        color: appStatic.mainColor
      }"
    >
      {{ la.t('.name') }}
    </div>
  </div>
</template>
