<script setup lang="ts">
import { computed } from 'vue';

const props = defineProps({
  color: {
    type: String,
    required: false
  },
  size: {
    type: String,
    default: '2rem'
  }
});

const borderKlass = computed<string>(() => {
  if (props.color === undefined || props.color === null || props.color === '') {
    return 'border border-base-300';
  } else if (props.color.startsWith('#ffffff')) {
    return 'border border-base-300';
  } else if (props.color.startsWith('#000000')) {
    return 'border border-base-200';
  } else {
    return 'border border-transparent';
  }
});
</script>

<template>
  <div class="w-fit h-fit shadow rounded-full bg-chessboard">
    <div
      v-if="props.color !== ''"
      class="rounded-full"
      :class="borderKlass"
      :style="{
        width: props.size,
        height: props.size,
        'background-color': props.color || 'transparent'
      }"
    ></div>
    <div
      v-else
      class="rounded-full border-base-300 bg-base-200"
      :style="{
        width: props.size,
        height: props.size
      }"
    ></div>
  </div>
</template>

<style scoped>
@layer utilities {
  .bg-chessboard {
    --dark-color: theme(colors.base-300);
    --light-color: theme(colors.base-100);
    background-color: var(--dark-color);
    opacity: 0.8;
    background-image: repeating-linear-gradient(
        45deg,
        var(--light-color) 25%,
        transparent 25%,
        transparent 75%,
        var(--light-color) 75%,
        var(--light-color)
      ),
      repeating-linear-gradient(
        45deg,
        var(--light-color) 25%,
        var(--dark-color) 25%,
        var(--dark-color) 75%,
        var(--light-color) 75%,
        var(--light-color)
      );
    background-position: 0 0, 8px 8px;
    background-size: 16px 16px;
  }
}

@tailwind utilities;
</style>
