<script setup lang="ts">
import { ref, watch, computed, type PropType } from 'vue';
import { Icon } from '@iconify/vue';
import mdiCancel from '@iconify-icons/mdi/cancel';
import {
  type ColorValue,
  type ColorSelectorOption,
  DEFAULT_COLOR_SELECTOR_OPTION
} from '../def';
import ColorPanel from './ColorPanel.vue';

const props = defineProps({
  current: {
    type: String,
    required: false
  },
  option: {
    type: Object as PropType<ColorSelectorOption>,
    default: () => DEFAULT_COLOR_SELECTOR_OPTION
  }
});

const emit = defineEmits<{
  select: [color: ColorValue];
}>();

const selectedColor = ref<ColorValue>();

const sortedColors = computed<ColorValue[]>(() => {
  let colors = props.option.colors;
  if (props.option.reverse) {
    return colors.reverse();
  } else {
    return colors;
  }
});

watch(
  () => props.current,
  (newValue) => {
    selectedColor.value = newValue;
  }
);

function onColorSelected(color: ColorValue): void {
  if (selectedColor.value !== color) {
    selectedColor.value = color;
    emit('select', selectedColor.value);
  }
}
</script>
<template>
  <div class="grid" :class="`grid-cols-${props.option.inRowSize}`">
    <button
      v-if="props.option.showNoneBtn"
      class="rounded p-0.5 border-2 flex justify-center items-center"
      :class="{
        'border-transparent': selectedColor !== undefined,
        'order-first': !props.option.reverse,
        'order-last': props.option.reverse
      }"
      @click="onColorSelected(undefined)"
    >
      <div class="text-base-300 flex justify-center items-center">
        <Icon :icon="mdiCancel" width="2rem" height="2rem"></Icon>
      </div>
    </button>
    <button
      v-for="color in sortedColors"
      :key="color"
      class="rounded p-1 border-2 flex justify-center items-center"
      :class="{
        'border-transparent': color !== selectedColor || color === ''
      }"
      @click="onColorSelected(color)"
    >
      <ColorPanel :color="color" size="1.8rem"></ColorPanel>
    </button>
  </div>
</template>
