<script setup lang="ts">
import { ref, watch, useSlots } from 'vue';
import { useI18n } from 'vue-i18n';
import { Icon } from '@iconify/vue';
import mdiClose from '@iconify-icons/mdi/close';
import mdiCheck from '@iconify-icons/mdi/check';
import { DIALOG_OPTION_PROP, BaseDialog } from '@base-workspace/bw-dialog';
import { LocaleActor } from '@base-workspace/bw-locale';
import { COLOR_PICKER_PROP } from '../def';
import { LOCALE_MAP } from '../locales/index';
import ColorPickerInput from './ColorPickerInput.vue';

const props = defineProps(
  Object.assign({}, COLOR_PICKER_PROP, DIALOG_OPTION_PROP)
);

const emit = defineEmits<{
  select: [value: string | undefined];
}>();

const slots = useSlots();
const i18n = useI18n({ useScope: 'local', messages: LOCALE_MAP });
const la = new LocaleActor('components.ColorPickerDialog', i18n.t);
const baseDialog = ref();
const selectedValue = ref<string | undefined>(props.current);

watch(
  () => props.current,
  (newValue) => {
    selectedValue.value = newValue;
  }
);

function onOptionSelected(value: string | undefined): void {
  if (selectedValue.value !== value) {
    selectedValue.value = value;
  }
}

function applyColor(): void {
  closeDialog();
  emit('select', selectedValue.value);
}

function openDialog(): void {
  baseDialog.value.openDialog();
}

function closeDialog(): void {
  baseDialog.value.closeDialog();
}

function toggleDialog(): void {
  baseDialog.value.toggleDialog();
}
defineExpose({ openDialog, closeDialog, toggleDialog });
</script>
<template>
  <BaseDialog ref="baseDialog" :dialog-option="props.dialogOption">
    <template v-if="slots['dialog-title']" #dialog-title>
      <slot name="dialog-title"></slot>
    </template>
    <ColorPickerInput
      class="flex-col-reverse"
      :current="selectedValue"
      :enable-alpha="props.enableAlpha"
      :reverse-layout="true"
      :store-key="props.storeKey"
      @select="onOptionSelected"
    ></ColorPickerInput>
    <div class="mt-2 flex flex-col items-stretch gap-2">
      <button class="btn" @click="closeDialog()">
        <Icon :icon="mdiClose" width="1.5rem" />
        {{ la.t('.cancel') }}
      </button>
      <button class="btn btn-primary" @click="applyColor()">
        <Icon :icon="mdiCheck" width="1.5rem" />
        {{ la.t('.apply') }}
      </button>
    </div>
  </BaseDialog>
</template>
