<script setup lang="ts">
import { ref, computed, watch } from 'vue';
import { useStorage } from '@vueuse/core';
import { Icon } from '@iconify/vue';
import mdiCircleOpacity from '@iconify-icons/mdi/circle-opacity';
import {
  type ColorValue,
  GRAY_COLORS,
  LIGHT_COLORS,
  NORMAL_COLORS,
  DEEP_COLORS,
  COLOR_ROW_SIZE,
  COLOR_PICKER_PROP
} from '../def';
import ColorSelectorInput from './ColorSelectorInput.vue';
import ColorPanel from './ColorPanel.vue';

const props = defineProps(COLOR_PICKER_PROP);

const emit = defineEmits<{
  select: [color: ColorValue];
}>();

const store = useStorage(props.storeKey, { recentColors: [] });

const selectedColor = ref<ColorValue>();
const currentAlpha = ref<number>(255);
const colorInput = ref<ColorValue>();
const recentColors = computed<ColorValue[]>(() => {
  let colors: ColorValue[] = [...store.value.recentColors].slice(
    0,
    COLOR_ROW_SIZE
  );
  while (colors.length < COLOR_ROW_SIZE) {
    colors.push('');
  }
  return colors;
});

watch(
  () => props.current,
  (newValue) => {
    if (newValue === undefined) {
      selectedColor.value = newValue;
      colorInput.value = newValue;
    } else {
      applyNewColor(normalizeColor(newValue));
    }
  }
);

function normalizeColor(value: ColorValue): ColorValue {
  if (value === undefined) {
    return undefined;
  }
  return `#${value
    .replace('#', '')
    .replace(/[^0-9A-F]/gi, 'F')
    .padEnd(props.enableAlpha ? 8 : 6, 'F')
    .toUpperCase()
    .slice(0, props.enableAlpha ? 8 : 6)}`;
}

function applyAlphaToColor(value: ColorValue): ColorValue {
  let color = value;
  if (value !== undefined) {
    color = value.slice(0, 7);
  }
  if (color !== undefined && props.enableAlpha) {
    return `${color}${currentAlpha.value
      .toString(16)
      .padStart(2, '0')}`.toUpperCase();
  } else {
    return color;
  }
}

function appendAlphaToColorList(colors: ColorValue[]): ColorValue[] {
  return colors.map((color) => applyAlphaToColor(color));
}

const STORED_COLORS_COUNT = COLOR_ROW_SIZE * 2;

function storeToRecentColors(color: ColorValue) {
  let colors: ColorValue[] = [...store.value.recentColors];
  colors = colors.filter((recentColor) => recentColor !== color);
  colors.unshift(color);
  store.value.recentColors = colors.slice(0, STORED_COLORS_COUNT) as never[];
}

function applyNewColor(color: ColorValue) {
  selectedColor.value = applyAlphaToColor(color);
  colorInput.value = selectedColor.value;
}

function applyInputColor(): void {
  let color = normalizeColor(colorInput.value);
  if (color !== undefined && props.enableAlpha) {
    currentAlpha.value = parseInt(color.slice(-2), 16);
  }
  applyNewColor(color);
  emit('select', selectedColor.value);
  storeToRecentColors(selectedColor.value);
}

function onColorSelected(color: ColorValue): void {
  if (color === '') {
    return;
  }
  if (selectedColor.value !== color) {
    selectedColor.value = color;
    colorInput.value = color;
    emit('select', selectedColor.value);
    storeToRecentColors(selectedColor.value);
  }
}

function onAlphaChanged(): void {
  if (props.enableAlpha) {
    if (selectedColor.value === '' || selectedColor.value === undefined) {
      selectedColor.value = '#FFFFFFFF';
    }
    applyNewColor(selectedColor.value);
    emit('select', selectedColor.value);
  }
}
</script>
<template>
  <div
    class="min-h-0 flex items-start gap-2"
    :class="props.reverseLayout ? 'flex-col-reverse' : 'flex-col'"
  >
    <div class="mx-0.5 flex items-center gap-2">
      <ColorPanel :color="selectedColor" size="2.4rem"></ColorPanel>
      <input
        v-if="enableAlpha"
        v-model="colorInput"
        class="input input-bordered rounded-full w-[12rem] px-12 h-9 font-mono"
        type="text"
        maxlength="9"
        placeholder="#RRGGBBAA"
        @blur="applyInputColor"
        @keyup.enter="applyInputColor"
      />
      <input
        v-else
        v-model="colorInput"
        class="input input-bordered rounded-full w-[10.5rem] px-10 h-9 font-mono"
        type="text"
        maxlength="7"
        placeholder="#RRGGBB"
        @blur="applyInputColor"
        @keyup.enter="applyInputColor"
      />
    </div>
    <div class="flex-1 overflow-y-auto">
      <div class="flex justify-start items-stretch">
        <ColorSelectorInput
          :current="selectedColor"
          :option="{
            colors: recentColors,
            inRowSize: 1,
            showNoneBtn: false,
            reverse: props.reverseLayout
          }"
          @select="onColorSelected"
        ></ColorSelectorInput>
        <div
          v-if="props.enableAlpha"
          class="relative mr-1 mt-0.5 items-stretch"
        >
          <Icon
            :icon="mdiCircleOpacity"
            width="2.2rem"
            class="rotate-45 text-base-300"
          />
          <input
            v-model.number="currentAlpha"
            class="range range-base-300 range-sm alpha-bar absolute left-7 bottom-2 origin-bottom-left -rotate-90 w-[22rem]"
            type="range"
            min="0"
            max="255"
            @input="onAlphaChanged"
          />
        </div>
        <div v-else class="mx-2 border-l"></div>
        <ColorSelectorInput
          :current="selectedColor"
          :option="{
            colors: appendAlphaToColorList(GRAY_COLORS),
            inRowSize: 1,
            showNoneBtn: true,
            reverse: false
          }"
          @select="onColorSelected"
        ></ColorSelectorInput>
        <ColorSelectorInput
          :current="selectedColor"
          :option="{
            colors: appendAlphaToColorList(LIGHT_COLORS),
            inRowSize: 1,
            showNoneBtn: false,
            reverse: false
          }"
          @select="onColorSelected"
        ></ColorSelectorInput>
        <ColorSelectorInput
          :current="selectedColor"
          :option="{
            colors: appendAlphaToColorList(NORMAL_COLORS),
            inRowSize: 1,
            showNoneBtn: false,
            reverse: false
          }"
          @select="onColorSelected"
        ></ColorSelectorInput>
        <ColorSelectorInput
          :current="selectedColor"
          :option="{
            colors: appendAlphaToColorList(DEEP_COLORS),
            inRowSize: 1,
            showNoneBtn: false,
            reverse: false
          }"
          @select="onColorSelected"
        ></ColorSelectorInput>
      </div>
    </div>
  </div>
</template>

<style scoped>
@layer utilities {
  .alpha-bar {
    --range-shdw: theme(colors.base-300);
    @apply rounded-full;
    &::-webkit-slider-thumb {
      @apply rounded-full;
    }
    &::-moz-range-thumb {
      @apply rounded-full;
    }
  }
}

@tailwind utilities;
</style>
