/* app-scoped styles*/
@layer components {
  .adventurer,
  .gold {
    border-color: #4169e1;
    color: #4169e1;
  }
  .guardian,
  .fire {
    border-color: #b22222;
    color: #b22222;
  }
  .door,
  .unknown {
    border-color: #8b4513;
    color: #8b4513;
  }
  .well,
  .empty {
    border-color: #808080;
    color: #808080;
  }
  .key {
    border-color: #8b008b;
    color: #8b008b;
  }
  .round {
    border-color: #2e8b57;
    color: #2e8b57;
  }

  /* theme */
  .bg-banner {
    background-repeat: no-repeat;
    background-position: 0% 100%;
  }
  .bg-jumbo {
    background-repeat: no-repeat;
  }
  [data-theme='tpds'] .bg-banner,
  .bg-banner-tds {
    background-image: url(/assets/images/theme/tpds_banner.svg);
  }
  [data-theme='tpds'] .bg-jumbo,
  .bg-jumbo-tds {
    background-image: url(/assets/images/theme/tpds_jumbo.svg);
  }
}
