<script setup lang="ts">
import { type PropType } from 'vue';
import { useI18n } from 'vue-i18n';
import { Icon } from '@iconify/vue';
import floorPlan from '@iconify-icons/mdi/floor-plan';
import palette from '@iconify-icons/mdi/palette';
import gamepadSquare from '@iconify-icons/mdi/gamepad-square';
import flask from '@iconify-icons/mdi/flask';
import heart from '@iconify-icons/mdi/heart';
import { LocaleActor } from '@base-workspace/bw-locale';
import { LOCALE_MAP } from '../locales/index';

type CreditsType = {
  presented_by?: string[];
  design?: string[];
  art?: string[];
  programming?: string[];
  qa?: string[];
  special_thanks?: string[];
};

type LicensesType = {
  name: string;
  licenseType: string;
};

const props = defineProps({
  logoImage: {
    type: String,
    required: true
  },
  slogan: {
    type: String,
    required: true
  },
  appVersion: {
    type: String,
    required: true
  },
  planName: {
    type: String,
    required: true
  },
  planVersion: {
    type: String,
    required: true
  },
  creditsData: {
    type: Object as PropType<CreditsType>,
    required: true
  },
  licensesData: {
    type: Object as PropType<LicensesType[]>,
    required: true
  }
});

const i18n = useI18n({ useScope: 'local', messages: LOCALE_MAP });
const la = new LocaleActor('components.AboutPageLayout', i18n.t);
</script>

<template>
  <div
    class="absolute inset-0 p-5 overflow-y-auto flex flex-col items-center gap-8"
  >
    <div class="mt-12 flex flex-col items-center gap-4">
      <img :src="props.logoImage" class="flex-none w-32 p-2" />
      <slot name="app-name"></slot>
    </div>
    <div class="flex flex-col items-center gap-4">
      <div class="border p-6">
        {{ props.slogan }}
      </div>
      <div
        class="mt-3 border-2 rounded-md text-primary border-primary flex items-center font-semibold"
      >
        <div class="px-2 py-1 bg-primary text-base-100">
          {{ props.planName }}
        </div>
        <div class="px-2 py-1 select-text cursor-text">
          {{ props.appVersion }} {{ props.planVersion }}
        </div>
      </div>
    </div>
    <slot name="app-description"></slot>
    <div
      v-if="Object.keys(props.creditsData).length > 0"
      class="w-full max-w-3xl text-center"
    >
      <div class="divider divider-primary text-primary">
        <span class="font-semibold text-xl">
          {{ la.t('.credit') }}
        </span>
      </div>
      <div class="flex flex-col gap-3">
        <div>
          <div
            v-for="(member, index) in props.creditsData.presented_by"
            :key="index"
            class="my-3"
          >
            {{ member }}
          </div>
        </div>
        <div
          v-if="props.creditsData.design && props.creditsData.design.length > 0"
        >
          <div class="font-semibold text-xl mb-3 inline-flex items-center">
            <Icon class="mr-2" :icon="floorPlan" width="1.5rem" />
            {{ la.t('.design') }}
          </div>
          <div
            v-for="(member, index) in props.creditsData.design"
            :key="index"
            class="my-1"
          >
            {{ member }}
          </div>
        </div>
        <div v-if="props.creditsData.art && props.creditsData.art.length > 0">
          <div class="font-semibold text-xl mb-3 inline-flex items-center">
            <Icon class="mr-2" :icon="palette" width="1.5rem" />
            {{ la.t('.art') }}
          </div>
          <div
            v-for="(member, index) in props.creditsData.art"
            :key="index"
            class="my-1"
          >
            {{ member }}
          </div>
        </div>
        <div
          v-if="
            props.creditsData.programming &&
            props.creditsData.programming.length > 0
          "
        >
          <div class="font-semibold text-xl mb-3 inline-flex items-center">
            <Icon class="mr-2" :icon="gamepadSquare" width="1.5rem" />
            {{ la.t('.programming') }}
          </div>
          <div
            v-for="(member, index) in props.creditsData.programming"
            :key="index"
            class="my-1"
          >
            {{ member }}
          </div>
        </div>
        <div v-if="props.creditsData.qa && props.creditsData.qa.length > 0">
          <div class="font-semibold text-xl mb-3 inline-flex items-center">
            <Icon class="mr-2" :icon="flask" width="1.5rem" />
            {{ la.t('.qa') }}
          </div>
          <div
            v-for="(member, index) in props.creditsData.qa"
            :key="index"
            class="my-1"
          >
            {{ member }}
          </div>
        </div>
        <div
          v-if="
            props.creditsData.special_thanks &&
            props.creditsData.special_thanks.length > 0
          "
        >
          <div class="font-semibold text-xl mb-3 inline-flex items-center">
            <Icon class="mr-2" :icon="heart" width="1.5rem" />
            {{ la.t('.special_thanks') }}
          </div>
          <div
            v-for="(member, index) in props.creditsData.special_thanks"
            :key="index"
            class="my-1"
          >
            {{ member }}
          </div>
        </div>
      </div>
    </div>
    <div
      v-if="props.licensesData.length > 0"
      class="w-full max-w-3xl text-center mb-14"
    >
      <div class="divider divider-primary text-primary">
        <span class="font-semibold text-xl">
          {{ la.t('.license') }}
        </span>
      </div>
      <div v-for="(lincense, index) in props.licensesData" :key="index">
        <span class="font-semibold mr-2">
          {{ lincense.name }}
        </span>
        {{ lincense.licenseType }}
      </div>
    </div>
  </div>
</template>
