<script setup lang="ts">
import { ref } from 'vue';
import { CameraService } from '../services/camera';

const emit = defineEmits<{
  capture: [value: string];
  fail: [{ status: string; error: string }];
}>();

const cameraService = ref<CameraService>(new CameraService());
const cameraVideo = ref();

async function startCamera(): Promise<void> {
  if (!cameraService.value.available) {
    emit('fail', {
      status: cameraService.value.status,
      error: cameraService.value.error
    });
    return;
  }
  const stream = await cameraService.value.start();
  if (!stream) {
    emit('fail', {
      status: cameraService.value.status,
      error: cameraService.value.error
    });
    return;
  }
  if (cameraVideo.value) {
    cameraVideo.value.srcObject = stream;
    cameraVideo.value.onloadedmetadata = () => {
      cameraVideo.value.play();
    };
  }
}

function stopCamera(): void {
  if (cameraService.value) {
    cameraService.value.stop();
  }
}

function capture(): void {
  if (cameraVideo.value) {
    const tmpCanvas = document.createElement('canvas');
    tmpCanvas.height = cameraVideo.value.videoHeight;
    tmpCanvas.width = cameraVideo.value.videoWidth;
    const tmpCtx = tmpCanvas.getContext('2d');
    if (tmpCtx) {
      tmpCtx.drawImage(cameraVideo.value, 0, 0);
      emit('capture', tmpCanvas.toDataURL());
    }
  }
}

defineExpose({ startCamera, stopCamera, capture });
</script>

<template>
  <video ref="cameraVideo" autoplay></video>
</template>
