<script setup lang="ts">
import { computed } from 'vue';
import type { PropType } from 'vue';
import { Icon } from '@iconify/vue';
import GameIconsDigDug from '@iconify-icons/game-icons/dig-dug';
import GameIconsTribalShield from '@iconify-icons/game-icons/tribal-shield';
import mdiNumeric1Box from '@iconify-icons/mdi/number-1-box';
import mdiNumeric2Box from '@iconify-icons/mdi/number-2-box';
import mdiNumeric3Box from '@iconify-icons/mdi/number-3-box';
import mdiNumeric4Box from '@iconify-icons/mdi/number-4-box';
import mdiCircle from '@iconify-icons/mdi/circle';
import mdiCircleOutline from '@iconify-icons/mdi/circle-outline';
import mdiAccountMultiple from '@iconify-icons/mdi/account-multiple';
import { LocaleActor } from '@base-workspace/bw-locale';
import { BlockPanel } from '@base-workspace/bw-ui';
import {
  GamePublicInfo,
  generateRoleCount,
  openedDoorCountInRound
} from '../../services/game';

const props = defineProps({
  publicInfo: {
    type: Object as PropType<GamePublicInfo>,
    required: true
  }
});

const la = new LocaleActor('components.panel.RulePanel');

const doorsToOpen = computed<number>(() => {
  return props.publicInfo.role.adventurer + props.publicInfo.role.guardian;
});

const openedDoorCount = computed<number>(() => {
  return openedDoorCountInRound(doorsToOpen.value, props.publicInfo);
});

const roleCount = computed<{ adventurer: number; guardian: number }>(() => {
  return generateRoleCount(doorsToOpen.value);
});

function roundIconSize(round: number): string {
  if (props.publicInfo.round === round) {
    return '2.4rem';
  } else {
    return '1.2rem';
  }
}
</script>

<template>
  <div class="flex flex-col gap-3 items-stretch w-full">
    <BlockPanel class="round">
      <template #title>
        <div class="flex items-start">
          <Icon
            class="round"
            :icon="mdiNumeric1Box"
            :width="roundIconSize(1)"
          />
          <Icon
            class="round"
            :icon="mdiNumeric2Box"
            :width="roundIconSize(2)"
          />
          <Icon
            class="round"
            :icon="mdiNumeric3Box"
            :width="roundIconSize(3)"
          />
          <Icon
            class="round"
            :icon="mdiNumeric4Box"
            :width="roundIconSize(4)"
          />
        </div>
      </template>
      <template #sub-title>
        <div class="flex items-center">
          {{ la.t('game.round') }}
        </div>
      </template>
      <div class="flex items-center justify-center">
        <div class="m-6 flex flex-col justify-center gap-4">
          <div class="flex items-center gap-2">
            <Icon
              :icon="mdiAccountMultiple"
              class="flex-none text-primary"
              width="2rem"
            />
            <div class="text-3xl font-bold text-primary">
              {{ doorsToOpen }}
            </div>
          </div>
          <div class="flex items-center gap-2">
            <Icon
              :icon="GameIconsDigDug"
              class="flex-none adventurer"
              width="2rem"
            />
            <div class="adventurer text-3xl font-bold">
              {{ roleCount.adventurer }}
            </div>
          </div>
          <div class="flex items-center gap-2">
            <Icon
              :icon="GameIconsTribalShield"
              class="flex-none guardian"
              width="2rem"
            />
            <div class="guardian text-3xl font-bold">
              {{ roleCount.guardian }}
            </div>
          </div>
        </div>
        <div class="p-3 m-3 flex flex-col gap-2">
          <div class="round flex gap-2">
            <div class="flex-none w-14 font-bold">
              {{ openedDoorCount }} / {{ doorsToOpen }}
            </div>
            <div class="flex items-center flex-wrap gap-2">
              <Icon
                v-for="i in doorsToOpen"
                :key="i"
                :icon="i <= openedDoorCount ? mdiCircle : mdiCircleOutline"
                width="1rem"
              />
            </div>
          </div>
          <div class="gold flex gap-2">
            <div class="flex-none w-14 font-bold">
              {{ props.publicInfo.gold.found }} /
              {{ props.publicInfo.gold.total }}
            </div>
            <div class="flex items-center flex-wrap gap-2">
              <Icon
                v-for="i in props.publicInfo.gold.total"
                :key="i"
                :icon="
                  i <= props.publicInfo.gold.found
                    ? mdiCircle
                    : mdiCircleOutline
                "
                width="1rem"
              />
            </div>
          </div>
          <div class="fire flex gap-2">
            <div class="flex-none w-14 font-bold">
              {{ props.publicInfo.fire.found }} /
              {{ props.publicInfo.fire.total }}
            </div>
            <div class="flex items-center flex-wrap gap-2">
              <Icon
                v-for="i in props.publicInfo.fire.total"
                :key="i"
                :icon="
                  i <= props.publicInfo.fire.found
                    ? mdiCircle
                    : mdiCircleOutline
                "
                width="1rem"
              />
            </div>
          </div>
          <div class="empty flex gap-2">
            <div class="flex-none w-14 font-bold">
              {{ props.publicInfo.empty.found }} /
              {{ props.publicInfo.empty.total }}
            </div>
            <div class="flex items-center flex-wrap gap-2">
              <Icon
                v-for="i in props.publicInfo.empty.total"
                :key="i"
                :icon="
                  i <= props.publicInfo.empty.found
                    ? mdiCircle
                    : mdiCircleOutline
                "
                width="1rem"
              />
            </div>
          </div>
        </div>
      </div>
    </BlockPanel>
  </div>
</template>
