<script setup lang="ts">
import type { PropType } from 'vue';
import { Icon } from '@iconify/vue';
import mdiKeyVariant from '@iconify-icons/mdi/key-variant';
import { BlockPanel } from '@base-workspace/bw-ui';
import { LocaleActor } from '@base-workspace/bw-locale';
import { DoorChoice, DoorKind, doorKindIcon } from '../../services/game';

const props = defineProps({
  uid: {
    type: String,
    required: true
  },
  playerName: {
    type: String,
    required: true
  },
  isKeyHolder: {
    type: Boolean,
    required: true
  },
  doors: {
    type: Object as PropType<DoorKind[]>,
    required: true
  },
  highlight: {
    type: Number,
    required: false
  },
  mode: {
    type: String,
    default: 'display'
  }
});

const emit = defineEmits<{
  select: [value: DoorChoice];
}>();

const la = new LocaleActor('components.panel.DoorPanel');

function doorKlass(doorKind: DoorKind): string {
  if (
    (props.mode === 'disabled' && doorKind === 'unknown') ||
    (props.mode === 'demo' && doorKind === 'unknown' && props.isKeyHolder)
  ) {
    return 'text-base-300';
  } else {
    return doorKind;
  }
}

function highlightKlass(i: number): string {
  return props.highlight === i + 1 ? 'highlight' : '';
}

function cursorKlass(doorKind: DoorKind): string {
  if (isClickable(doorKind)) {
    return 'cursor-pointer';
  }
  if (props.mode === 'disabled' && doorKind === 'unknown') {
    return 'cursor-not-allowed';
  }
  return 'cursor-default';
}

function onDoorClicked(doorKind: DoorKind, i: number) {
  if (!isClickable(doorKind)) {
    return;
  }
  emit('select', { uid: props.uid, num: i + 1 });
}

function isClickable(doorKind: DoorKind): boolean {
  return props.mode === 'selector' && doorKind === 'unknown';
}
</script>

<template>
  <BlockPanel class="md:mt-0">
    <template #title>
      {{ la.t('.whosDoor', { name: props.playerName }) }}
    </template>
    <template #sub-title>
      <Icon
        v-if="props.isKeyHolder"
        :icon="mdiKeyVariant"
        width="1.5rem"
        class="key"
      />
    </template>
    <div
      v-if="props.mode === 'demo'"
      class="p-1 pt-0 flex justify-center items-center gap-1 overflow-hidden"
    >
      <button
        class="flex flex-col items-center gap-1"
        v-for="(doorKind, i) in props.doors"
        :key="i"
        :class="[doorKlass(doorKind), highlightKlass(i), cursorKlass(doorKind)]"
        @click="onDoorClicked(doorKind, i)"
      >
        <div
          class="w-6 h-6 text-lg font-bold border-2 rounded-full bg-base-100 flex justify-center items-center"
          :class="doorKlass(doorKind)"
        >
          {{ i + 1 }}
        </div>
        <Icon :icon="doorKindIcon(doorKind)" width="2rem" />
      </button>
    </div>
    <div
      v-else
      class="p-3 pt-0 flex justify-center items-center gap-2 overflow-hidden"
    >
      <button
        class="flex flex-col items-center gap-2"
        v-for="(doorKind, i) in props.doors"
        :key="i"
        :class="[doorKlass(doorKind), highlightKlass(i), cursorKlass(doorKind)]"
        @click="onDoorClicked(doorKind, i)"
      >
        <div
          class="w-8 h-8 text-lg font-bold border-2 rounded-full bg-base-100 flex justify-center items-center"
          :class="doorKlass(doorKind)"
        >
          {{ i + 1 }}
        </div>
        <Icon :icon="doorKindIcon(doorKind)" width="4rem" />
      </button>
    </div>
  </BlockPanel>
</template>

<style scoped>
.highlight {
  --c: 139, 0, 139;
  border-bottom: 5px solid rgba(var(--c), 1);
  padding-bottom: 5px;
  animation: 0.5s ease 0.3s highlight-anime forwards;
}

@keyframes highlight-anime {
  from {
    border-color: rgba(var(--c), 1);
    padding-bottom: 2px;
  }
  to {
    border-color: rgba(var(--c), 0);
    padding-bottom: 0;
    border-width: 0;
  }
}
</style>
