<script setup lang="ts">
import type { PropType } from 'vue';
import { Icon } from '@iconify/vue';
import GameIconsRupee from '@iconify-icons/game-icons/rupee';
import GameIconsCelebrationFire from '@iconify-icons/game-icons/celebration-fire';
import GameIconsAncientRuins from '@iconify-icons/game-icons/ancient-ruins';
import { LocaleActor } from '@base-workspace/bw-locale';
import { GameOverInfo } from '../../services/game';

const props = defineProps({
  gameOverInfo: {
    type: Object as PropType<GameOverInfo | null>,
    required: true
  }
});

const la = new LocaleActor('components.panel.GameOverPanel');
</script>

<template>
  <div
    v-if="props.gameOverInfo"
    class="flex flex-col items-center justify-center gap-8"
    :class="props.gameOverInfo.winner"
  >
    <div class="text-3xl font-bold">
      {{ la.t(`.winner.${props.gameOverInfo.winner}`) }}
    </div>
    <Icon
      v-if="props.gameOverInfo.reason === 'gold'"
      :icon="GameIconsRupee"
      width="8rem"
    />
    <Icon
      v-if="props.gameOverInfo.reason === 'fire'"
      :icon="GameIconsCelebrationFire"
      width="8rem"
    />
    <Icon
      v-if="props.gameOverInfo.reason === 'timeout'"
      :icon="GameIconsAncientRuins"
      width="8rem"
    />
    <div class="text-xl font-bold">
      {{ la.t(`.reason.${props.gameOverInfo.reason}`) }}
    </div>
  </div>
</template>
