<script setup lang="ts">
import { Icon } from '@iconify/vue';
import mdiKeyVariant from '@iconify-icons/mdi/key-variant';
import { LocaleActor } from '@base-workspace/bw-locale';
import { usePlayerStore } from '../../stores/player';
import { computed } from 'vue';

const la = new LocaleActor('');
const playerStore = usePlayerStore();

const showKeyholder = computed<boolean>(() => {
  return (
    playerStore.isKeyHolder() && playerStore.publicInfo.status === 'playing'
  );
});
</script>

<template>
  <div v-if="showKeyholder" class="w-full px-3 py-1">
    <div class="key bg-base-100 p-5 border rounded-lg flex items-center gap-3">
      <Icon :icon="mdiKeyVariant" width="2rem" class="flex-none" />
      <div class="text-lg">
        {{ la.t('game.keyholderHint') }}
      </div>
    </div>
  </div>
</template>
