<script setup lang="ts">
import { computed } from 'vue';
import { useRouter } from 'vue-router';
import * as PageGuide from '@base-workspace/bw-page-guide';
import { LocaleActor } from '@base-workspace/bw-locale';
import { IconTextBtn } from '@base-workspace/bw-ui';
import { PAGES } from '../../services/page-def';

const router = useRouter();
const la = new LocaleActor('app.service');

const btnList = computed<PageGuide.PageGuideData[]>(() => {
  return PageGuide.buildPageList(PAGES, [
    'player-rule',
    'player-info',
    'player-room'
  ]);
});

function moveToPage(pageData: PageGuide.PageGuideData): void {
  router.push(pageData.route);
}
</script>

<template>
  <div class="w-full overflow-x-auto">
    <div class="flex justify-center">
      <IconTextBtn
        v-for="bl in btnList"
        :key="bl.code"
        :icon="bl.iconInfo.icon"
        :text="la.t(bl.nameLk) as string"
        :hide-text-on-mobile="false"
        @click="moveToPage(bl)"
      ></IconTextBtn>
    </div>
  </div>
</template>
