<script setup lang="ts">
import type { PropType } from 'vue';
import { Icon } from '@iconify/vue';
import { LocaleActor } from '@base-workspace/bw-locale';
import { PlayerRole, roleIcon } from '../../services/game';

const props = defineProps({
  role: {
    type: String as PropType<PlayerRole>,
    required: true
  }
});

const la = new LocaleActor('components.panel.RolePanel');
</script>

<template>
  <div class="text-lg p-5 flex gap-3" :class="props.role">
    <Icon :icon="roleIcon(props.role)" class="flex-none m-2" width="4rem" />
    <div class="flex-1 flex flex-col gap-1">
      <div class="text-3xl font-bold">
        {{ la.t(`game.${props.role}`) }}
      </div>
      <div class="border-t-4 my-3" :class="props.role"></div>
      <div class="text-gl">
        {{ la.t(`.${props.role}1`) }}
      </div>
      <div class="text-sm">
        {{ la.t(`.${props.role}2`) }}
      </div>
      <div class="text-gl">
        {{ la.t(`.${props.role}3`) }}
      </div>
    </div>
  </div>
</template>
