<script setup lang="ts">
import { ref, onActivated } from 'vue';
import { Icon } from '@iconify/vue';
import mdiChevronDoubleRight from '@iconify-icons/mdi/chevron-double-right';
import mdiChevronDoubleLeft from '@iconify-icons/mdi/chevron-double-left';
import mdiArrowDown from '@iconify-icons/mdi/arrow-down';
import GameIconsRupee from '@iconify-icons/game-icons/rupee';
import GameIconsCelebrationFire from '@iconify-icons/game-icons/celebration-fire';
import GameIconsDigDug from '@iconify-icons/game-icons/dig-dug';
import GameIconsTribalShield from '@iconify-icons/game-icons/tribal-shield';
import GameIconsStoneWall from '@iconify-icons/game-icons/stone-wall';
import mdiKeyVariant from '@iconify-icons/mdi/key-variant';
import mdiNumeric1Box from '@iconify-icons/mdi/number-1-box';
import mdiNumeric2Box from '@iconify-icons/mdi/number-2-box';
import mdiNumeric3Box from '@iconify-icons/mdi/number-3-box';
import mdiNumeric4Box from '@iconify-icons/mdi/number-4-box';
import mdiCircle from '@iconify-icons/mdi/circle';
import mdiCircleOutline from '@iconify-icons/mdi/circle-outline';
import mdiAccountMultiple from '@iconify-icons/mdi/account-multiple';
import { LocaleActor } from '@base-workspace/bw-locale';
import { BlockPanel } from '@base-workspace/bw-ui';
import { DoorKind, roleIcon } from '../../services/game';
import DoorPanel from './DoorPanel.vue';
import RolePanel from './RolePanel.vue';
import storyImg from '../../assets/images/app/story.svg';

const RULE_COUNT: number = 6;

const la = new LocaleActor('components.panel.RulePanel');

const currentRule = ref<number>(1);

const NAME_DOOR_EX: Record<string, DoorKind[]> = {
  A: ['unknown', 'unknown', 'gold', 'unknown', 'empty'],
  B: ['unknown', 'unknown', 'unknown', 'fire', 'unknown'],
  C: ['unknown', 'unknown', 'unknown', 'empty', 'unknown'],
  D: ['unknown', 'empty', 'gold', 'empty', 'empty'],
  E: ['empty', 'unknown', 'unknown', 'unknown', 'unknown'],
  F: ['unknown', 'empty', 'unknown', 'unknown', 'unknown']
};

onActivated(() => {
  setTimeout(() => {
    gotoRule(currentRule.value);
  }, 300);
});

function gotoRule(index: number) {
  currentRule.value = index;
  const ruleElm = document.getElementById(`rule${index}`);
  ruleElm?.scrollIntoView();
}

function gotoNextRule() {
  if (currentRule.value === RULE_COUNT) {
    gotoRule(1);
  } else {
    gotoRule(currentRule.value + 1);
  }
}

function gotoPrevRule() {
  if (currentRule.value === 1) {
    gotoRule(RULE_COUNT);
  } else {
    gotoRule(currentRule.value - 1);
  }
}
</script>

<template>
  <div class="p-3 w-full max-w-lg flex flex-col gap-3">
    <div class="carousel w-full">
      <div id="rule1" class="carousel-item w-full">
        <div
          class="border rounded-lg text-lg p-8 mx-1 flex flex-col items-center justify-center gap-3"
        >
          <img :src="storyImg" class="mb-5 w-[18rem]" />
          {{ la.t('game.description') }}
        </div>
      </div>
      <div id="rule2" class="carousel-item w-full">
        <div class="flex flex-col gap-3 w-full px-1">
          <div class="self-center text-lg border-2 border-l-8 p-3">
            {{ la.t('.roleHint') }}
          </div>
          <RolePanel
            class="flex-1 border rounded-lg"
            role="adventurer"
          ></RolePanel>
          <RolePanel
            class="flex-1 border rounded-lg"
            role="guardian"
          ></RolePanel>
        </div>
      </div>
      <div id="rule3" class="carousel-item w-full">
        <div class="flex flex-col gap-3 items-stretch w-full px-1">
          <div class="self-center text-lg border-2 border-l-8 p-3">
            {{ la.t('.doorHint') }}
          </div>
          <div
            class="border rounded-lg px-5 md:px-12 py-3 flex justify-between gap-3"
          >
            <div class="gold flex flex-col items-center">
              <Icon
                :icon="GameIconsRupee"
                class="flex-none m-2"
                width="3.5rem"
              />
              <div class="text-xl font-bold">
                {{ la.t('game.gold') }}
              </div>
              <div class="text-3xl">x 2</div>
            </div>
            <div class="fire flex flex-col items-center">
              <Icon
                :icon="GameIconsCelebrationFire"
                class="flex-none m-2"
                width="3.5rem"
              />
              <div class="text-xl font-bold">
                {{ la.t('game.fire') }}
              </div>
              <div class="text-3xl">x 1</div>
            </div>
            <div class="empty flex flex-col items-center">
              <Icon
                :icon="GameIconsStoneWall"
                class="flex-none m-2"
                width="3.5rem"
              />
              <div class="text-xl font-bold">
                {{ la.t('game.empty') }}
              </div>
              <div class="text-3xl">x 2</div>
            </div>
          </div>
          <div class="self-center text-primary flex items-center">
            <Icon :icon="mdiArrowDown" width="3rem" />
            <div class="text-3xl">?</div>
          </div>
          <DoorPanel
            uid="ooo"
            player-name="OOO"
            :is-key-holder="false"
            :doors="['unknown', 'unknown', 'unknown', 'unknown', 'unknown']"
            mode="display"
          >
          </DoorPanel>
        </div>
      </div>
      <div id="rule4" class="carousel-item w-full">
        <div class="flex flex-col gap-2 items-stretch w-full px-1">
          <div class="self-center text-lg border-2 border-l-8 p-3">
            {{ la.t('.keyHint') }}
          </div>
          <div class="mt-3 grid grid-cols-2 gap-3">
            <DoorPanel
              v-for="name in ['A', 'B']"
              :key="name"
              :uid="name"
              :player-name="name"
              :is-key-holder="name === 'E'"
              :doors="NAME_DOOR_EX[name]"
              mode="demo"
            >
            </DoorPanel>
          </div>
          <div class="my-3 grid grid-cols-2 gap-3">
            <div class="grid grid-cols-5 mx-12">
              <div
                class="key w-full flex flex-col items-center gap-2"
                v-for="i in 5"
                :key="i"
              >
                <Icon
                  v-if="i === 2"
                  :icon="mdiKeyVariant"
                  class="mr-3"
                  width="2rem"
                  style="transform: rotate(-135deg)"
                />
              </div>
            </div>
            <div class="flex-1"></div>
          </div>
          <div class="grid grid-cols-2 gap-3">
            <DoorPanel
              class="my-3"
              v-for="name in ['C', 'D', 'E', 'F']"
              :key="name"
              :uid="name"
              :player-name="name"
              :is-key-holder="name === 'E'"
              :doors="NAME_DOOR_EX[name]"
              mode="demo"
            >
            </DoorPanel>
          </div>
        </div>
      </div>
      <div id="rule5" class="carousel-item w-full">
        <div class="flex flex-col gap-3 items-stretch w-full px-1">
          <div class="self-center text-lg border-2 border-l-8 p-3">
            {{ la.t('.roundHint') }}
          </div>
          <BlockPanel class="round">
            <template #title>
              <div class="flex items-start">
                <Icon class="round" :icon="mdiNumeric1Box" width="1.2rem" />
                <Icon class="round" :icon="mdiNumeric2Box" width="2.4rem" />
                <Icon class="round" :icon="mdiNumeric3Box" width="1.2rem" />
                <Icon class="round" :icon="mdiNumeric4Box" width="1.2rem" />
              </div>
            </template>
            <template #sub-title>
              <div class="flex items-center">
                {{ la.t('game.round') }}
              </div>
            </template>
            <div class="flex items-center justify-center">
              <div class="mx-12 flex flex-col justify-center gap-4">
                <div class="flex items-center gap-2">
                  <Icon
                    :icon="mdiAccountMultiple"
                    class="flex-none text-primary"
                    width="2rem"
                  />
                  <div class="text-3xl font-bold text-primary">6</div>
                </div>
                <div class="flex items-center gap-2">
                  <Icon
                    :icon="GameIconsDigDug"
                    class="flex-none adventurer"
                    width="2rem"
                  />
                  <div class="adventurer text-3xl font-bold">4</div>
                </div>
                <div class="flex items-center gap-2">
                  <Icon
                    :icon="GameIconsTribalShield"
                    class="flex-none guardian"
                    width="2rem"
                  />
                  <div class="guardian text-3xl font-bold">2</div>
                </div>
              </div>
              <div class="p-3 m-3 pl-0 ml-0 flex flex-col gap-2">
                <div class="round flex gap-2">
                  <div class="flex-none w-14 font-bold">4 / 6</div>
                  <div class="flex items-center flex-wrap gap-2">
                    <Icon
                      v-for="i in 6"
                      :key="i"
                      :icon="i <= 4 ? mdiCircle : mdiCircleOutline"
                      width="1rem"
                    />
                  </div>
                </div>
                <div class="gold flex gap-2">
                  <div class="flex-none w-14 font-bold">2 / 8</div>
                  <div class="flex items-center flex-wrap gap-2">
                    <Icon
                      v-for="i in 8"
                      :key="i"
                      :icon="i <= 2 ? mdiCircle : mdiCircleOutline"
                      width="1rem"
                    />
                  </div>
                </div>
                <div class="fire flex gap-2">
                  <div class="flex-none w-14 font-bold">1 / 2</div>
                  <div class="flex items-center flex-wrap gap-2">
                    <Icon
                      v-for="i in 2"
                      :key="i"
                      :icon="i <= 1 ? mdiCircle : mdiCircleOutline"
                      width="1rem"
                    />
                  </div>
                </div>
                <div class="empty flex gap-2">
                  <div class="flex-none w-14 font-bold">7 / 20</div>
                  <div class="flex items-center flex-wrap gap-2">
                    <Icon
                      v-for="i in 20"
                      :key="i"
                      :icon="i <= 7 ? mdiCircle : mdiCircleOutline"
                      width="1rem"
                    />
                  </div>
                </div>
              </div>
            </div>
          </BlockPanel>
          <div class="grid grid-cols-2 gap-2">
            <div class="round flex items-center gap-3 px-3">
              <Icon :icon="mdiCircle" width="1rem" />
              {{ la.t('.openedDoor') }}
            </div>
            <div class="round flex items-center gap-3 px-3">
              <Icon :icon="mdiCircleOutline" width="1rem" />
              {{ la.t('.closedDoor') }}
            </div>
            <div class="gold flex items-center gap-3 px-3">
              <Icon :icon="mdiCircle" width="1rem" />
              {{ la.t('.openedGold') }}
            </div>
            <div class="gold flex items-center gap-3 px-3">
              <Icon :icon="mdiCircleOutline" width="1rem" />
              {{ la.t('.closedGold') }}
            </div>
            <div class="fire flex items-center gap-3 px-3">
              <Icon :icon="mdiCircle" width="1rem" />
              {{ la.t('.openedFire') }}
            </div>
            <div class="fire flex items-center gap-3 px-3">
              <Icon :icon="mdiCircleOutline" width="1rem" />
              {{ la.t('.closedFire') }}
            </div>
            <div class="empty flex items-center gap-3 px-3">
              <Icon :icon="mdiCircle" width="1rem" />
              {{ la.t('.openedEmpty') }}
            </div>
            <div class="empty flex items-center gap-3 px-3">
              <Icon :icon="mdiCircleOutline" width="1rem" />
              {{ la.t('.closedEmpty') }}
            </div>
          </div>
        </div>
      </div>
      <div id="rule6" class="carousel-item w-full">
        <div class="flex flex-col gap-3 w-full px-1">
          <div class="text-lg border-2 border-l-8 p-3">
            {{ la.t('.tips') }}
          </div>
          <div
            class="adventurer flex-1 border rounded-lg text-lg p-5 flex gap-3"
          >
            <Icon
              :icon="roleIcon('adventurer')"
              class="flex-none m-2"
              width="4rem"
            />
            <div class="flex-1 flex flex-col gap-1">
              <div class="text-3xl font-bold">
                {{ la.t(`game.adventurer`) }}
              </div>
              <div class="adventurer border-t-4 my-3"></div>
              <div class="text-gl">
                {{ la.t(`.adventurerTip`) }}
              </div>
            </div>
          </div>
          <div class="guardian flex-1 border rounded-lg text-lg p-5 flex gap-3">
            <Icon
              :icon="roleIcon('guardian')"
              class="flex-none m-2"
              width="4rem"
            />
            <div class="flex-1 flex flex-col gap-1">
              <div class="text-3xl font-bold">
                {{ la.t(`game.guardian`) }}
              </div>
              <div class="guardian border-t-4 my-3"></div>
              <div class="text-gl">
                {{ la.t(`.guardianTip`) }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-center w-full py-2 gap-2">
      <button
        v-for="ruleNum in RULE_COUNT"
        :key="ruleNum"
        class="btn btn-xs"
        :class="{ 'btn-primary': currentRule === ruleNum }"
        @click="gotoRule(ruleNum)"
      >
        {{ ruleNum }}
      </button>
    </div>
    <div class="form-control w-full flex flex-col md:flex-row gap-2">
      <button class="flex-1 btn gap-2" @click="gotoPrevRule">
        <Icon :icon="mdiChevronDoubleLeft" width="1.5rem" />
        {{ la.t('.prev') }}
      </button>
      <button class="flex-1 btn gap-2" @click="gotoNextRule">
        <Icon :icon="mdiChevronDoubleRight" width="1.5rem" />
        {{ la.t('.next') }}
      </button>
    </div>
  </div>
</template>
