<script setup lang="ts">
import { ref } from 'vue';
import { useI18n } from 'vue-i18n';
import { Icon } from '@iconify/vue';
import mdiGlobe from '@iconify-icons/mdi/globe';
import { LocaleActor } from '@base-workspace/bw-locale';
import { BlockPanel } from '@base-workspace/bw-ui';
import LocaleSelectorDialog from './LocaleSelectorDialog.vue';

const emit = defineEmits<{
  change: [value: string];
}>();

const la = new LocaleActor();
const localeSelectorDialog = ref();

const globalI18n = useI18n({ useScope: 'global' });

function onLocaleSelected(selectedLocale: string): void {
  globalI18n.locale.value = selectedLocale;
  emit('change', selectedLocale);
}
</script>

<template>
  <BlockPanel class="w-full max-w-lg mx-2 p-3">
    <template #title>
      <div class="flex items-center text-secondary">
        <Icon class="mr-2" :icon="mdiGlobe" width="1.2rem" />
        {{ la.t('locale.title') }}
      </div>
    </template>
    <button
      class="w-full py-5 hover:bg-base-300 rounded-full text-lg font-bold"
      @click="localeSelectorDialog.toggleDialog()"
    >
      {{ la.t('locale.name') as string }}
    </button>
    <LocaleSelectorDialog ref="localeSelectorDialog" @select="onLocaleSelected">
    </LocaleSelectorDialog>
  </BlockPanel>
</template>
