<script setup lang="ts">
import { ref, watch, type PropType } from 'vue';
import { useI18n } from 'vue-i18n';
import { Icon } from '@iconify/vue';
import mdiPaletteSwatchVariant from '@iconify-icons/mdi/palette-swatch-variant';
import { LocaleActor } from '@base-workspace/bw-locale';
import { BlockPanel } from '@base-workspace/bw-ui';
import { LOCALE_MAP } from '../locales/index';
import { THEMES } from '../def';
import ThemeSelector from './ThemeSelector.vue';

const i18n = useI18n({ useScope: 'local', messages: LOCALE_MAP });
const la = new LocaleActor('components.theme', i18n.t);

const props = defineProps({
  current: {
    type: String,
    required: false
  },
  options: {
    type: Array as PropType<string[]>,
    default: () => {
      return THEMES;
    }
  }
});

const currentTheme = ref(props.current);

const emit = defineEmits<{
  change: [value: string];
}>();

watch(
  () => props.current,
  (newValue) => {
    currentTheme.value = newValue;
  }
);

function onThemeChanged(theme: string): void {
  emit('change', theme);
}
</script>
<template>
  <BlockPanel class="p-3">
    <template #title>
      <div class="flex items-center text-secondary">
        <Icon class="mr-2" :icon="mdiPaletteSwatchVariant" width="1.2rem" />
        {{ la.t('.title') }}
      </div>
    </template>
    <ThemeSelector :current="current" @change="onThemeChanged"></ThemeSelector>
  </BlockPanel>
</template>
