<script setup lang="ts">
import { type PropType, computed } from 'vue';
import { useRouter } from 'vue-router';
import { LocaleActor } from '@base-workspace/bw-locale';
import { IconPanel } from '@base-workspace/bw-icon';
import * as PageGuide from '@base-workspace/bw-page-guide';
const router = useRouter();
const la = new LocaleActor();

const props = defineProps({
  pages: {
    type: Array as PropType<PageGuide.PageGuideData[]>,
    required: true
  },
  code: {
    type: String,
    required: true
  }
});

const currentPage = computed<PageGuide.PageGuideData | null>(() => {
  return PageGuide.fetchPageData(props.pages, props.code);
});

const currentParentPage = computed<PageGuide.PageGuideData | null>(() => {
  if (currentPage.value && currentPage.value.parent) {
    return PageGuide.fetchPageData(props.pages, currentPage.value.parent);
  } else {
    return null;
  }
});

function onBreadClicked(pageData: PageGuide.PageGuideData): void {
  router.push(pageData.route);
}
</script>

<template>
  <div class="text-sm breadcrumbs">
    <ul>
      <li></li>
      <li v-if="currentParentPage !== null">
        <a class="flex gap-2" @click="onBreadClicked(currentParentPage)">
          <IconPanel
            :icon-info="currentParentPage.iconInfo"
            :override="{ size: 1.2 }"
          ></IconPanel>
          {{ la.t(currentParentPage.nameLk) }}
        </a>
      </li>
      <li v-if="currentPage !== null">
        <a class="flex gap-2" @click="onBreadClicked(currentPage)">
          <IconPanel
            :icon-info="currentPage.iconInfo"
            :override="{ size: 1.2 }"
          ></IconPanel>
          {{ la.t(currentPage.nameLk) }}
        </a>
      </li>
    </ul>
  </div>
</template>
