<script setup lang="ts">
import { type PropType } from 'vue';
import { Icon } from '@iconify/vue';
import { type IconifyIcon } from '@iconify/vue';

const props = defineProps({
  icon: {
    type: Object as PropType<IconifyIcon>,
    required: true
  }
});
</script>

<template>
  <button class="btn btn-circle">
    <Icon v-if="props.icon" :icon="props.icon" width="1.5rem" />
  </button>
</template>
