<script setup lang="ts">
import { type PropType } from 'vue';
import { Icon } from '@iconify/vue';
import { type IconifyIcon } from '@iconify/vue';

const props = defineProps({
  icon: {
    type: Object as PropType<IconifyIcon>,
    required: false
  },
  text: {
    type: String,
    required: false
  },
  hideTextOnMobile: {
    type: Boolean,
    default: true
  }
});
</script>

<template>
  <button class="btn btn-ghost rounded-full flex items-center gap-2">
    <Icon v-if="props.icon" :icon="props.icon" width="1.5rem" />
    <template v-if="props.text">
      <div v-if="hideTextOnMobile" class="hidden md:block">
        {{ props.text }}
      </div>
      <div v-else>
        {{ props.text }}
      </div>
    </template>
  </button>
</template>
