<script setup lang="ts">
import type { PropType } from 'vue';
import { computed } from 'vue';
import { Icon } from '@iconify/vue';
import type { LabelInfo } from '../types';

const props = defineProps({
  info: {
    type: Object as PropType<LabelInfo>,
    required: true
  }
});

const colorKlass = computed<string>(() => {
  if (props.info.colorName) {
    return `bg-${props.info.colorName} text-${props.info.colorName}-content`;
  } else {
    return '';
  }
});
</script>

<template>
  <div
    class="px-3 py-1 rounded-full flex items-center gap-1 text-sm"
    :class="colorKlass"
  >
    <Icon v-if="props.info.icon" :icon="props.info.icon" width="1.0rem" />
    <div v-if="props.info.text">
      {{ props.info.text }}
    </div>
  </div>
</template>
