<script setup lang="ts">
import { ref, watch } from 'vue';
import QRCode from 'qrcode';

const props = defineProps({
  text: {
    type: String,
    required: true
  }
});

const exportQrCode = ref<string>();

buildQrCode();

watch(
  () => props.text,
  async () => {
    buildQrCode();
  }
);

function buildQrCode(): void {
  if (props.text !== undefined && props.text !== '') {
    QRCode.toDataURL(props.text).then((value: string) => {
      exportQrCode.value = value;
    });
  }
}
</script>

<template>
  <img v-if="exportQrCode" :src="exportQrCode" />
</template>
