<script setup lang="ts">
import { ref } from 'vue';
import { useI18n } from 'vue-i18n';
import { Icon } from '@iconify/vue';
import mdiReload from '@iconify-icons/mdi/reload';
import mdiEye from '@iconify-icons/mdi/eye';
import mdiEyeOffOutline from '@iconify-icons/mdi/eye-off-outline';
import { LocaleActor } from '@base-workspace/bw-locale';
import { LOCALE_MAP } from '../locales/index';

const i18n = useI18n({ useScope: 'local', messages: LOCALE_MAP });
const la = new LocaleActor('components.SecretCodePanel', i18n.t);

const props = defineProps({
  code: {
    type: String,
    required: true
  },
  isShown: {
    type: Boolean,
    default: false
  }
});

const isShown = ref<boolean>(props.isShown);

const emit = defineEmits<{
  regenerate: [];
}>();

function onRegenerateTriggered() {
  isShown.value = true;
  emit('regenerate');
}
</script>

<template>
  <div class="flex flex-col">
    <div class="p-5 self-center text-xl font-mono select-text cursor-text">
      <span v-if="isShown">
        {{ props.code }}
      </span>
      <span v-else>
        {{ '*'.repeat(props.code.length) }}
      </span>
    </div>
    <div class="w-full flex flex-row gap-2">
      <button
        v-if="isShown"
        class="grow btn btn-primary btn-outline gap-2"
        @click="isShown = false"
      >
        <Icon :icon="mdiEyeOffOutline" width="1.5rem" />
        {{ la.t('.hide') }}
      </button>
      <button
        v-else
        class="grow btn btn-primary btn-outline gap-2"
        @click="isShown = true"
      >
        <Icon :icon="mdiEye" width="1.5rem" />
        {{ la.t('.show') }}
      </button>
      <button class="grow btn btn-primary gap-2" @click="onRegenerateTriggered">
        <Icon :icon="mdiReload" width="1.5rem" />
        {{ la.t('.regenerate') }}
      </button>
    </div>
  </div>
</template>
