<script setup lang="ts">
import type { PropType } from 'vue';
import { computed } from 'vue';
import { Icon } from '@iconify/vue';
import type { StatusPanelInfo } from '../types';

const props = defineProps({
  info: {
    type: Object as PropType<StatusPanelInfo>,
    required: true
  }
});

const colorKlass = computed<string>(() => {
  if (props.info.kind === '') {
    return '';
  } else {
    return `bg-${props.info.kind} text-${props.info.kind}-content`;
  }
});
</script>

<template>
  <div
    class="px-3 py-1 rounded-full flex items-center gap-1 text-sm"
    :class="colorKlass"
  >
    <Icon v-if="props.info.icon" :icon="props.info.icon" width="1.0rem" />
    {{ props.info.text }}
  </div>
</template>
