<script setup lang="ts">
import { computed, type PropType } from 'vue';
import { LocaleActor } from '@base-workspace/bw-locale';
import * as PageGuide from '@base-workspace/bw-page-guide';

const la = new LocaleActor();

const props = defineProps({
  pages: {
    type: Array as PropType<PageGuide.PageGuideData[]>,
    required: true
  },
  steps: {
    type: Array as PropType<string[]>,
    required: true
  },
  currentStep: {
    type: String,
    required: true
  },
  direction: {
    type: String,
    default: 'h'
  }
});

const currentIndex = computed<number>(() => {
  return props.steps.indexOf(props.currentStep);
});

function fetchPageNameLk(page: string): string {
  const pageData = PageGuide.fetchPageData(props.pages, page);
  if (pageData) {
    return pageData.nameLk;
  } else {
    return '';
  }
}
</script>

<template>
  <div>
    <div v-if="direction === 'h'" class="w-full flex items-center">
      <ul v-if="currentIndex >= 0" class="steps">
        <li
          v-for="i in currentIndex + 1"
          :key="i"
          :data-content="i"
          class="step step-primary"
        ></li>
      </ul>
      {{ la.t(fetchPageNameLk(props.steps[currentIndex])) }}
      <ul v-if="currentIndex < props.steps.length - 1" class="steps flex-1">
        <li
          v-for="i in props.steps.length - currentIndex - 1"
          :key="currentIndex + i + 1"
          :data-content="currentIndex + i + 1"
          class="step"
        ></li>
      </ul>
    </div>
    <ul v-else class="w-full steps steps-vertical">
      <li
        v-for="(page, index) in props.steps"
        :key="page"
        class="step"
        :class="{ 'step-primary': index <= currentIndex }"
        :data-content="index + 1"
      >
        {{ la.t(fetchPageNameLk(page)) }}
      </li>
    </ul>
  </div>
</template>
