<script setup lang="ts">
import { ref, computed, watch, type PropType } from 'vue';
import { Icon } from '@iconify/vue';
import * as Selection from '@base-workspace/bw-selection';

type TabPosition = 'top' | 'bottom' | 'left' | 'right';
type TabAlignment = 'start' | 'center' | 'end';

const props = defineProps(
  Object.assign({}, Selection.SELECTION_PROP, {
    position: {
      type: String as PropType<TabPosition>,
      default: 'top'
    },
    alignment: {
      type: String as PropType<TabAlignment>,
      default: 'start'
    }
  })
);

const emit = defineEmits<{
  select: [value: string];
}>();

const selectedValue = ref<string | undefined>(props.current);

const borderPos = computed<string>(() => {
  switch (props.position) {
    case 'bottom':
      return 't';
    case 'right':
      return 'l';
    case 'left':
      return 'r';
    default:
      return 'b';
  }
});

const tabWrapperKlass = computed<string>(() => {
  let layout =
    props.position === 'top' || props.position === 'bottom' ? 'row' : 'col';
  return `flex-${layout} justify-${props.alignment} border-${borderPos.value}-4`;
});

const tabContainerKlass = computed<string>(() => {
  let layout =
    props.position === 'top' || props.position === 'bottom' ? 'row' : 'col';
  return `flex-${layout} justify-${
    layout === 'row' ? 'between' : 'start'
  } items-${layout === 'row' ? 'center' : 'stretch'}`;
});

const tabEntryKlass = computed<string>(() => {
  return `border-${borderPos.value}-0`;
});

watch(
  () => props.current,
  (newValue) => {
    selectedValue.value = newValue;
  }
);

function onOptionSelected(value: string): void {
  if (selectedValue.value !== value) {
    selectedValue.value = value;
    emit('select', selectedValue.value);
  }
}
</script>

<template>
  <div class="flex" :class="tabWrapperKlass">
    <div class="border bg-base-300 flex flex-wrap" :class="tabContainerKlass">
      <button
        v-for="option in props.options"
        :key="option.value"
        class="flex-1 px-6 py-2 border hover:bg-base-200 flex justify-start items-center flex-nowrap"
        :class="`${
          option.value === selectedValue ? 'bg-base-300' : 'bg-base-100'
        } ${tabEntryKlass}`"
        @click="onOptionSelected(option.value)"
      >
        <Icon
          v-if="option.icon"
          class="mr-2"
          :icon="option.icon"
          width="1.2rem"
        />
        <div class="whitespace-nowrap">{{ option.label }}</div>
      </button>
    </div>
  </div>
</template>
