<script setup lang="ts">
import { ref, watch } from 'vue';
import { useI18n } from 'vue-i18n';
import { LocaleActor } from '@base-workspace/bw-locale';
import { LOCALE_MAP } from '../locales/index';
import { FONT_SIZES, FONT_SIZE_MAP } from '../def';
import type { FontSize } from '../def';
import { updateRootFontSize } from '../action';

const i18n = useI18n({ useScope: 'local', messages: LOCALE_MAP });
const la = new LocaleActor('components.fontSize', i18n.t);

const props = defineProps({
  current: {
    type: String,
    required: false
  }
});

const currentFontSize = ref(props.current);

const emit = defineEmits<{
  change: [value: string];
}>();

watch(
  () => props.current,
  (newValue) => {
    currentFontSize.value = newValue;
  }
);

function onFontSizeSelected(fontSize: string): void {
  updateRootFontSize(fontSize as FontSize);
  emit('change', fontSize);
}
</script>
<template>
  <div class="m-auto w-fit flex justify-center items-center flex-wrap gap-3">
    <label
      v-for="fontSize in FONT_SIZES"
      :key="fontSize"
      class="flex-[1_1_auto] flex justify-center items-center gap-2"
    >
      <input
        v-model="currentFontSize"
        type="radio"
        class="radio"
        name="fontSize"
        :value="fontSize"
        @input="onFontSizeSelected(fontSize)"
      />
      <span :style="{ 'font-size': `${FONT_SIZE_MAP[fontSize]}px` }">
        {{ la.t(`.option.${fontSize}`) }}
      </span>
    </label>
  </div>
</template>
