@layer components {
  html {
    @apply subpixel-antialiased;
    cursor: default;
  }

  body {
    height: 100vh;
    height: calc(var(--vh) * 100);
  }

  #root {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  div {
    @apply select-none;
    cursor: inherit;
  }

  .select:focus,
  .input:focus,
  textarea:focus {
    outline: 2px solid theme(colors.transparent);
  }

  :focus-visible {
    outline: 2px solid theme(colors.primary);
    outline-offset: 0;
  }

  .menu .bordered button {
    border-left-width: 0.25rem;
  }

  .fade-out-leave-active {
    transition: opacity 0.5s ease;
  }
  .fade-out-leave-to {
    opacity: 0;
  }

  .radio,
  .checkbox {
    border-color: theme(colors.base-300);
  }

  .square-v30 {
    --size: min(30vh, 30vh);
    width: var(--size);
    height: var(--size);
  }
}
