<script setup lang="ts">
import { ref, computed } from 'vue';
import { useI18n } from 'vue-i18n';
import mdiCamera from '@iconify-icons/mdi/camera';
import mdiClose from '@iconify-icons/mdi/close';
import { CameraCaptureInput } from '@base-workspace/bw-input';
import { IconTextBtn, IconBtn } from '@base-workspace/bw-ui';
import { LocaleActor } from '@base-workspace/bw-locale';
import { LOCALE_MAP } from '../locales/index';
import { DIALOG_OPTION_PROP } from '../def';
import BaseDialog from './BaseDialog.vue';

const props = defineProps(Object.assign({}, DIALOG_OPTION_PROP));

const emit = defineEmits<{
  capture: [image: string];
}>();

const i18n = useI18n({ useScope: 'local', messages: LOCALE_MAP });
const la = new LocaleActor('components.CameraCaptureDialog', i18n.t);
const cameraCaptureFailedStatus = ref<string | undefined>();

const baseDialog = ref();
const cameraCaptureInput = ref();
const dialogOption = computed(() => {
  return Object.assign({}, props.dialogOption, { enableCloseBtn: false });
});

function onCameraCaptureBtnClicked(): void {
  cameraCaptureInput.value.capture();
  baseDialog.value.closeDialog();
}

function onCameraCapture(image: string): void {
  emit('capture', image);
}

function onCameraCaptureFailed(camera: {
  status: string;
  error: string;
}): void {
  cameraCaptureFailedStatus.value = camera.status;
}

function openDialog(): void {
  baseDialog.value.openDialog();
}

function closeDialog(): void {
  baseDialog.value.closeDialog();
}

function toggleDialog(): void {
  baseDialog.value.toggleDialog();
}
defineExpose({ openDialog, closeDialog, toggleDialog });
</script>
<template>
  <BaseDialog
    ref="baseDialog"
    :dialog-option="dialogOption"
    @open="cameraCaptureInput.startCamera()"
    @close="cameraCaptureInput.stopCamera()"
  >
    <div class="flex flex-col items-center gap-3">
      <div class="bg-black flex items-center justify-center">
        <div
          v-if="cameraCaptureFailedStatus !== undefined"
          class="text-error border-2 border-error p-3 m-3"
        >
          {{ la.t(`.error.${cameraCaptureFailedStatus}`) }}
        </div>
        <CameraCaptureInput
          v-show="cameraCaptureFailedStatus == undefined"
          ref="cameraCaptureInput"
          @capture="onCameraCapture"
          @fail="onCameraCaptureFailed"
        ></CameraCaptureInput>
      </div>
      <div class="w-full flex items-center justify-between">
        <IconBtn
          class="btn-ghost"
          :icon="mdiClose"
          @click="closeDialog()"
        ></IconBtn>
        <div class="flex-1 flex items-center justify-center">
          <IconTextBtn
            v-if="cameraCaptureFailedStatus == undefined"
            :icon="mdiCamera"
            :text="la.t('.capture') as string"
            @click="onCameraCaptureBtnClicked"
          ></IconTextBtn>
          <IconTextBtn
            v-else
            class="btn-disabled"
            :icon="mdiCamera"
            :text="la.t('.capture') as string"
          ></IconTextBtn>
        </div>
      </div>
    </div>
  </BaseDialog>
</template>
