<script setup lang="ts">
import { ref, computed } from 'vue';
import { useI18n } from 'vue-i18n';
import { Icon } from '@iconify/vue';
import mdiGlobe from '@iconify-icons/mdi/globe';
import * as Selection from '@base-workspace/bw-selection';
import { LocaleActor } from '@base-workspace/bw-locale';
import { LOCALE_MAP } from '../locales/index';
import SelectorDialog from './SelectorDialog.vue';

const emit = defineEmits<{
  select: [value: string];
}>();

const i18n = useI18n({ useScope: 'local', messages: LOCALE_MAP });
const la = new LocaleActor('components.LocaleSelectorDialog', i18n.t);
const selectorDialog = ref();

const globalI18n = useI18n({ useScope: 'global' });
const localeOptions = computed<Selection.SelectionOption[]>(() => {
  return globalI18n.availableLocales.map((localeValue) => {
    return {
      value: localeValue as string,
      label: globalI18n.t('locale.name', 1, { locale: localeValue })
    };
  });
});

function onLocaleSelected(selectedLocale: string): void {
  globalI18n.locale.value = selectedLocale;
  emit('select', selectedLocale);
}

function toggleDialog(): void {
  selectorDialog.value.toggleDialog();
}
defineExpose({ toggleDialog });
</script>

<template>
  <SelectorDialog
    ref="selectorDialog"
    :dialog-option="{
      enableOutsideClose: true,
      klass: 'w-full md:w-[50vw] max-w-full'
    }"
    :options="localeOptions"
    :current="globalI18n.locale.value as string"
    @select="onLocaleSelected"
  >
    <template #dialog-title>
      <div class="flex items-center gap-3">
        <Icon :icon="mdiGlobe" width="1.5rem" />
        <div class="text-xl">
          {{ la.t('.title') }}
        </div>
      </div>
    </template>
  </SelectorDialog>
</template>
