<script setup lang="ts">
import { onActivated } from 'vue';
import { useRouter } from 'vue-router';
import { Icon } from '@iconify/vue';
import mdiOpenInNew from '@iconify-icons/mdi/open-in-new';
import mdiGitlab from '@iconify-icons/mdi/gitlab';
import { useCoreStore } from '@base-workspace/bw-core';
import { LocaleActor } from '@base-workspace/bw-locale';
import { AboutPageLayout } from '@base-workspace/bw-layout';
import Layout from '../components/app/Layout.vue';
import logoImg from '../assets/images/app/logo.svg';
import appStatic from '../static/app.json';
import creditsStatic from '../static/credits.json';
import buildMetadata from '../build/metadata.json';
import buildLicenses from '../build/licenses.json';

const coreStore = useCoreStore();
const router = useRouter();
const la = new LocaleActor('pages.AboutPage');

onActivated(() => {
  coreStore.currentPageCode = 'about';
});
</script>

<template>
  <Layout :enable-toolbar-hidden="true" :enable-menu-btn-only-toolbar="true">
    <AboutPageLayout
      :logo-image="logoImg"
      :slogan="la.t('app.service.slogan') as string"
      :app-version="`v${appStatic.version}`"
      :plan-name="la.t(`app.plan.${buildMetadata.plan}`) as string"
      :plan-version="buildMetadata.planVersion"
      :credits-data="creditsStatic"
      :licenses-data="buildLicenses"
    >
      <template #app-name>
        <div
          class="text-xl"
          :style="{
            color: appStatic.mainColor
          }"
        >
          {{ la.t('app.service.name') }}
        </div>
      </template>
      <template #app-description>
        <div class="max-w-xl flex flex-col items-center justify-center gap-3">
          {{ la.t('.originalHint') }}
          <div class="text-lg font-bold mb-8">佐藤 雄介 (Yusuke Sato)</div>
          {{ la.t('.buyHint') }}
          <a
            href="https://www.schmidtspiele.de/details/produkt/tempel-des-schreckens.html"
            target="_blank"
            class="btn btn-link min-h-8 h-8"
            >{{ la.t('.officalWebsite') }}
            <Icon :icon="mdiOpenInNew" width="1.2rem" />
          </a>
          <a
            href="https://boardgamegeek.com/boardgame/206915/tempel-des-schreckens"
            target="_blank"
            class="btn btn-link min-h-8 h-8 mb-8"
            >BGG - Tempel des Schreckens
            <Icon :icon="mdiOpenInNew" width="1.2rem" />
          </a>
          {{ la.t('.openSourceHint') }}
          <div class="flex items-center">
            <Icon :icon="mdiGitlab" width="1.5rem" />
            <a
              href="https://gitlab.com/fucod/tempel-des-schreckens"
              target="_blank"
              class="btn btn-link min-h-8 h-8 pl-1"
              >https://gitlab.com/fucod/tempel-des-schreckens
              <Icon :icon="mdiOpenInNew" width="1.2rem" />
            </a>
          </div>
          <div class="flex items-center mb-5">
            <div class="font-bold">App:</div>
            <a
              href="https://tds.fucod.com"
              target="_blank"
              class="btn btn-link min-h-8 h-8 pl-1"
              >https://tds.fucod.com
              <Icon :icon="mdiOpenInNew" width="1.2rem" />
            </a>
          </div>
          <button
            class="p-0 -mb-8 cursor-default text-transparent bg-transparent border-transparent"
            tabindex="-1"
            @click="router.push({ name: 'dev' })"
          >
            OOO
          </button>
        </div>
      </template>
    </AboutPageLayout>
  </Layout>
</template>
