<script setup lang="ts">
import { onActivated } from 'vue';
import { Icon } from '@iconify/vue';
import GameIconsPartyPopper from '@iconify-icons/game-icons/party-popper';
import { useCoreStore } from '@base-workspace/bw-core';
import { LocaleActor } from '@base-workspace/bw-locale';
import { BlockPanel } from '@base-workspace/bw-ui';
import Layout from '../components/app/Layout.vue';
import Header from '../components/app/Header.vue';
import HomeBtn from '../components/app/HomeBtn.vue';

const coreStore = useCoreStore();
const la = new LocaleActor('pages.dev');

onActivated(() => {
  coreStore.currentPageCode = 'dev';
});
</script>

<template>
  <Layout :enable-toolbar-hidden="true">
    <div class="w-full h-full overflow-y-auto">
      <div class="w-full p-3 flex flex-col items-center justify-center gap-2">
        <div class="border rounded-lg p-5 mt-3 flex items-center gap-5">
          <Icon :icon="GameIconsPartyPopper" width="3rem" class="flex-none" />
          {{ la.t('.hint') }}
        </div>
        <div class="flex items-start justify-center flex-wrap gap-x-3">
          <BlockPanel class="p-5">
            <template #title>
              <div class="flex items-center text-secondary">Color</div>
            </template>
            <div class="grid grid-cols-3 gap-2">
              <div class="p-2 bg-primary text-primary-content">primary</div>
              <div class="p-2 text-primary">primary</div>
              <div class="p-2 bg-primary-content text-primary">
                primary-content
              </div>
              <div class="p-2 bg-secondary text-secondary-content">
                secondary
              </div>
              <div class="p-2 text-secondary">secondary</div>
              <div class="p-2 bg-secondary-content text-secondary">
                secondary-content
              </div>
              <div class="p-2 bg-accent text-accent-content">accent</div>
              <div class="p-2 text-accent">accent</div>
              <div class="p-2 bg-accent-content text-accent">
                accent-content
              </div>
              <div class="p-2 bg-neutral text-neutral-content">neutral</div>
              <div class="p-2 text-neutral">neutral</div>
              <div class="p-2 bg-neutral-content text-neutral">
                neutral-content
              </div>
              <div class="p-2 bg-base-100 text-base-content">base-100</div>
              <div class="p-2 text-base-100">base-100</div>
              <div class="p-2 bg-base-content text-base-100">base-content</div>
              <div class="p-2 bg-base-200 text-base-content">base-200</div>
              <div class="p-2 text-base-200">base-200</div>
              <div class="p-2 bg-base-content text-base-200">base-content</div>
              <div class="p-2 bg-base-300 text-base-content">base-300</div>
              <div class="p-2 text-base-300">base-300</div>
              <div class="p-2 bg-base-content text-base-300">base-content</div>
              <div class="p-2 bg-info text-info-content">info</div>
              <div class="p-2 text-info">info</div>
              <div class="p-2 bg-info-content text-info">info-content</div>
              <div class="p-2 bg-success text-success-content">success</div>
              <div class="p-2 text-success">success</div>
              <div class="p-2 bg-success-content text-success">
                success-content
              </div>
              <div class="p-2 bg-warning text-warning-content">warning</div>
              <div class="p-2 text-warning">warning</div>
              <div class="p-2 bg-warning-content text-warning">
                warning-content
              </div>
              <div class="p-2 bg-error text-error-content">error</div>
              <div class="p-2 text-error">error</div>
              <div class="p-2 bg-error-content text-error">error-content</div>
            </div>
          </BlockPanel>
          <BlockPanel class="p-5">
            <template #title>
              <div class="flex items-center text-secondary">Font</div>
            </template>
            <div class="grid grid-cols-1 gap-1">
              <div class="font-normal">
                font-normal: abcdefghijklmnopqrsduvwxyz0123456789-.
              </div>
              <div class="font-serif">
                font-serif: abcdefghijklmnopqrsduvwxyz0123456789-.
              </div>
              <div class="font-sans">
                font-sans: abcdefghijklmnopqrsduvwxyz0123456789-.
              </div>
              <div class="font-mono">
                font-mono: abcdefghijklmnopqrsduvwxyz0123456789-.
              </div>
              <div class="font-bold">
                font-bold: abcdefghijklmnopqrsduvwxyz0123456789-.
              </div>
              <div class="font-thin">
                font-thin: abcdefghijklmnopqrsduvwxyz0123456789-.
              </div>
            </div>
          </BlockPanel>
        </div>
      </div>
    </div>
    <template #layout-fixed-top-panel>
      <Header></Header>
    </template>
    <template #toolbar-main-menu>
      <HomeBtn></HomeBtn>
    </template>
  </Layout>
</template>
