<script setup lang="ts">
import { ref, computed, onActivated } from 'vue';
import { useRouter, useRoute, type RouteLocationRaw } from 'vue-router';
import { useI18n } from 'vue-i18n';
import mdiGlobe from '@iconify-icons/mdi/globe';
import { useCoreStore, Startup } from '@base-workspace/bw-core';
import { LocaleActor } from '@base-workspace/bw-locale';
import * as PageGuide from '@base-workspace/bw-page-guide';
import { PageHeader } from '@base-workspace/bw-layout';
import { IconTextBtn } from '@base-workspace/bw-ui';
import { LocaleSelectorDialog } from '@base-workspace/bw-dialog';
import { IconPanel } from '@base-workspace/bw-icon';
import { PAGES } from '../services/page-def';
import buildMetadata from '../build/metadata.json';
import Layout from '../components/app/Layout.vue';
import TrademarkPanel from '../components/app/TrademarkPanel.vue';

const coreStore = useCoreStore();
const i18n = useI18n({ useScope: 'global' });
Startup.init(coreStore, i18n, buildMetadata);

const router = useRouter();
const route = useRoute();
const la = new LocaleActor();
const localeSelectorDialog = ref();

const pageList = computed<PageGuide.PageGuideData[]>(() => {
  return PageGuide.buildPageList(PAGES, [
    'temple',
    'player',
    'rule',
    'settings'
  ]);
});

onActivated(() => {
  coreStore.currentPageCode = 'entry';
  if (route.query.code) {
    setTimeout(() => {
      router.push({
        name: 'player_connection',
        query: { code: route.query.code }
      });
    }, 300);
  }
});

function moveToPage(routeData: RouteLocationRaw): void {
  router.push(routeData);
}

function toggleLocaleDialog(): void {
  localeSelectorDialog.value.toggleDialog();
}

function onLocaleSelected(locale: string): void {
  coreStore.config.assign({ locale });
  coreStore.config.save();
}
</script>

<template>
  <Layout :enable-menu-btn-only-toolbar="true">
    <div
      class="h-full bg-jumbo bg-bottom flex justify-center items-center gap-3"
    >
      <div class="w-fit h-fit grid grid-cols-2 gap-8">
        <button
          v-for="pm in pageList"
          :key="pm.code"
          class="p-2 rounded-lg select-none flex flex-col justify-between items-center gap-2"
          @click="moveToPage(pm.route)"
        >
          <div class="grow flex justify-center items-center">
            <IconPanel
              :icon-info="pm.iconInfo"
              :override="{ size: 3 }"
            ></IconPanel>
          </div>
          {{ la.t(pm.nameLk) }}
        </button>
      </div>
    </div>
    <IconTextBtn
      class="absolute bottom-2 right-2 flex-row-reverse"
      :icon="mdiGlobe"
      :text="la.t('locale.name') as string"
      :hide-text-on-mobile="false"
      @click="toggleLocaleDialog"
    ></IconTextBtn>
    <template #layout-fixed-top-panel>
      <PageHeader>
        <template #header-title>
          <div class="flex justify-center">
            <TrademarkPanel></TrademarkPanel>
          </div>
        </template>
      </PageHeader>
    </template>
    <template #layout-top-layer>
      <LocaleSelectorDialog
        ref="localeSelectorDialog"
        @select="onLocaleSelected"
      >
      </LocaleSelectorDialog>
    </template>
  </Layout>
</template>
