<script setup lang="ts">
import { onActivated } from 'vue';
import { useCoreStore } from '@base-workspace/bw-core';
import Layout from '../components/app/Layout.vue';
import RulePanel from '../components/panel/RulePanel.vue';
import Header from '../components/app/Header.vue';
import HomeBtn from '../components/app/HomeBtn.vue';

const coreStore = useCoreStore();

onActivated(() => {
  coreStore.currentPageCode = 'rule';
});
</script>

<template>
  <Layout :enable-toolbar-hidden="true">
    <div class="w-full h-full overflow-y-auto">
      <div class="w-full flex flex-col items-center justify-center gap-2">
        <RulePanel></RulePanel>
      </div>
    </div>
    <template #layout-fixed-top-panel>
      <Header></Header>
    </template>
    <template #toolbar-main-menu>
      <HomeBtn></HomeBtn>
    </template>
  </Layout>
</template>
