<script setup lang="ts">
import { onActivated } from 'vue';
import { LocaleSelectorPanel } from '@base-workspace/bw-locale-ui';
import { useCoreStore } from '@base-workspace/bw-core';
import { FontSizeSelectorPanel } from '@base-workspace/bw-font-size';
import Layout from '../components/app/Layout.vue';
import Header from '../components/app/Header.vue';

const coreStore = useCoreStore();
const config = coreStore.config;

onActivated(() => {
  coreStore.currentPageCode = 'settings';
});

function onLocaleChanged(locale: string): void {
  config.assign({ locale });
  config.save();
}

function onFontSizeChanged(fontSize: string): void {
  config.assign({ fontSize });
  config.save();
}
</script>

<template>
  <Layout :enable-menu-btn-only-toolbar="true">
    <div class="bg-jumbo bg-bottom w-full h-full p-3 overflow-y-auto">
      <div class="flex flex-col items-center">
        <LocaleSelectorPanel
          class="w-full max-w-lg mx-2"
          :current="config.doc.theme"
          @change="onLocaleChanged"
        ></LocaleSelectorPanel>
        <FontSizeSelectorPanel
          class="w-full max-w-lg mx-2"
          :current="config.doc.fontSize"
          @change="onFontSizeChanged"
        ></FontSizeSelectorPanel>
      </div>
    </div>
    <template #layout-fixed-top-panel>
      <Header></Header>
    </template>
  </Layout>
</template>
