<script setup lang="ts">
import { ref, watch, computed } from 'vue';
import { useI18n } from 'vue-i18n';
import { LocaleActor } from '@base-workspace/bw-locale';
import { Selector } from '@base-workspace/bw-ui';
import { LOCALE_MAP } from '../locales/index';
import { MAX_FRACTION_DIGIT } from '../def';

const i18n = useI18n({ useScope: 'local', messages: LOCALE_MAP });
const la = new LocaleActor('components.FractionDigitSelector', i18n.t);

const props = defineProps({
  current: {
    type: Number,
    required: false
  }
});

const emit = defineEmits<{
  change: [value: number | undefined];
}>();

const currentFd = ref<number | undefined>(props.current);
const currentFdInput = ref<string>('0');
updateCurrentFdInput();

const currentFdFormat = computed<string>(() => {
  if (currentFd.value === undefined) {
    return 'none';
  } else {
    return 'digit';
  }
});

const fdFormatOptions = [
  {
    value: 'none',
    label: la.t('.fractionDigitOption.none') as string
  },
  {
    value: 'digit',
    label: la.t('.fractionDigitOption.digit') as string
  }
];

watch(
  () => props.current,
  (newValue) => {
    currentFd.value = newValue;
    updateCurrentFdInput();
  }
);

function onOptionSelected(fd: string): void {
  if (fd === 'none') {
    currentFd.value = undefined;
  } else {
    currentFd.value = parseInt(currentFdInput.value, 10);
  }
  updateCurrentFdInput();
  emit('change', currentFd.value);
}

function updateCurrentFdInput() {
  if (currentFd.value) {
    currentFdInput.value = currentFd.value.toString();
  } else {
    currentFdInput.value = '0';
  }
}

function onFdInputChanged(): void {
  let givenValue = parseInt(currentFdInput.value);
  if (isNaN(givenValue)) {
    givenValue = 0;
  } else if (givenValue < 0) {
    givenValue = 0;
  } else if (givenValue > MAX_FRACTION_DIGIT) {
    givenValue = MAX_FRACTION_DIGIT;
  }
  currentFd.value = givenValue;
  updateCurrentFdInput();
  emit('change', currentFd.value);
}
</script>

<template>
  <div class="flex flex-col items-start gap-3">
    <Selector
      class="flex flex-col items-start"
      :current="currentFdFormat"
      :options="fdFormatOptions"
      selector-id="nf-fraction-digit-selector"
      @select="onOptionSelected"
    ></Selector>
    <input
      v-if="currentFdFormat === 'digit'"
      v-model="currentFdInput"
      class="input input-bordered w-32"
      type="number"
      min="0"
      :max="MAX_FRACTION_DIGIT"
      step="1"
      @change="onFdInputChanged"
      @blur="onFdInputChanged"
    />
  </div>
</template>
