<script setup lang="ts">
import { ref, watch } from 'vue';
import { useI18n } from 'vue-i18n';
import { LocaleActor } from '@base-workspace/bw-locale';
import { Selector } from '@base-workspace/bw-ui';
import { buildNotationFormatOptions } from '../action';
import { LOCALE_MAP } from '../locales/index';

const i18n = useI18n({ useScope: 'local', messages: LOCALE_MAP });
const la = new LocaleActor('components.NotationFormatSelector', i18n.t);

const props = defineProps({
  current: {
    type: String,
    required: false
  }
});

const emit = defineEmits<{
  change: [value: string];
}>();

const currentNotationNumberFormat = ref(props.current);

watch(
  () => props.current,
  (newValue) => {
    currentNotationNumberFormat.value = newValue;
  }
);

function onOptionSelected(numberFormat: string): void {
  emit('change', numberFormat);
}
</script>

<template>
  <Selector
    :current="currentNotationNumberFormat"
    :options="buildNotationFormatOptions(la)"
    selector-id="nf-notation-format-selector"
    @select="onOptionSelected"
  ></Selector>
</template>
