<script setup lang="ts">
import { ref, watch, type PropType } from 'vue';
import { useI18n } from 'vue-i18n';
import { Icon } from '@iconify/vue';
import mdiDecimal from '@iconify-icons/mdi/decimal';
import { BlockPanel } from '@base-workspace/bw-ui';
import { LocaleActor } from '@base-workspace/bw-locale';
import { LOCALE_MAP } from '../locales/index';
import type {
  NumberFormatOption,
  NumberFormatColorOption,
  NegativeDisplayOption
} from '../def';
import NotationFormatSelector from './NotationFormatSelector.vue';
import FractionDigitSelector from './FractionDigitSelector.vue';
import NegativeDisplaySelector from './NegativeNumberDisplaySelector.vue';
import NumberPanel from './NumberPanel.vue';
import { ColorPanel, ColorPickerDialog } from '@base-workspace/bw-color';

const props = defineProps({
  option: {
    type: Object as PropType<NumberFormatOption>,
    required: true
  },
  color: {
    type: Object as PropType<NumberFormatColorOption>,
    required: true
  }
});

const emit = defineEmits<{
  changeOption: [value: NumberFormatOption];
  changeColor: [value: NumberFormatColorOption];
}>();

const i18n = useI18n({ useScope: 'local', messages: LOCALE_MAP });
const la = new LocaleActor('components.NumberFormatConfigPanel', i18n.t);
const numberColorPickerDialog = ref();

type NumberColorType = 'positive' | 'zero' | 'negative';
const currentNfOption = ref<NumberFormatOption>(props.option);
const currentNumberColorType = ref<NumberColorType>('positive');
const currentNfColor = ref<NumberFormatColorOption>(props.color);

watch(
  () => props.option,
  (newValue) => {
    currentNfOption.value = newValue;
  }
);

watch(
  () => props.color,
  (newValue) => {
    currentNfColor.value = newValue;
  }
);

function onNumberNotationFormatChanged(format: string): void {
  currentNfOption.value.notationFormat = format;
  emit('changeOption', currentNfOption.value);
}
function onNumberColorSelected(color: string | undefined): void {
  currentNfColor.value[currentNumberColorType.value] = color;
  emit('changeColor', currentNfColor.value);
}
function onNumberFractionDigitChanged(fd: number | undefined): void {
  currentNfOption.value.fractionDigit = fd;
  emit('changeOption', currentNfOption.value);
}
function onNumberColorDialogTriggered(numberColorType: NumberColorType): void {
  currentNumberColorType.value = numberColorType;
  numberColorPickerDialog.value.toggleDialog();
}
function onNegativeDisplaySelected(ndo: string): void {
  currentNfOption.value.negativeDisplay = ndo as NegativeDisplayOption;
  emit('changeOption', currentNfOption.value);
}
</script>

<template>
  <BlockPanel class="w-full p-3">
    <template #title>
      <div class="flex items-center text-secondary">
        <Icon class="mr-2" :icon="mdiDecimal" width="1.2rem" />
        {{ la.t('.numberFormat') }}
      </div>
    </template>
    <div class="flex items-center justify-center">
      <div class="flex flex-col items-end">
        <template
          v-for="value in [12345.67, 1000, 0, -1000, -123.4567]"
          :key="`${value}`"
        >
          <NumberPanel
            :value="value"
            :option="currentNfOption"
            :color="currentNfColor"
          ></NumberPanel>
        </template>
      </div>
    </div>
    <div class="flex flex-col">
      <div class="flex justify-center items-stretch gap-3">
        <div class="flex-1 flex flex-col justify-between items-stretch">
          <BlockPanel class="p-3">
            <template #title>
              {{ la.t('.negativeDisplay') }}
            </template>
            <NegativeDisplaySelector
              class="flex-col items-start justify-start"
              :current="currentNfOption.negativeDisplay"
              @change="onNegativeDisplaySelected"
            ></NegativeDisplaySelector>
          </BlockPanel>
          <BlockPanel class="p-3 flex-1">
            <template #title>
              {{ la.t('.color') }}
            </template>
            <div class="flex flex-col items-stretch justify-between gap-3">
              <BlockPanel class="flex-1 p-3">
                <template #title>{{ la.t('.colorOption.positive') }}</template>
                <button
                  class="w-full flex justify-center"
                  @click="onNumberColorDialogTriggered('positive')"
                >
                  <ColorPanel :color="currentNfColor.positive"></ColorPanel>
                </button>
              </BlockPanel>
              <BlockPanel class="flex-1 p-3">
                <template #title>{{ la.t('.colorOption.zero') }}</template>
                <button
                  class="w-full flex justify-center"
                  @click="onNumberColorDialogTriggered('zero')"
                >
                  <ColorPanel :color="currentNfColor.zero"></ColorPanel>
                </button>
              </BlockPanel>
              <BlockPanel class="flex-1 p-3">
                <template #title>{{ la.t('.colorOption.negative') }}</template>
                <button
                  class="w-full flex justify-center"
                  @click="onNumberColorDialogTriggered('negative')"
                >
                  <ColorPanel :color="currentNfColor.negative"></ColorPanel>
                </button>
              </BlockPanel>
              <ColorPickerDialog
                ref="numberColorPickerDialog"
                :dialog-option="{
                  enableOutsideClose: true,
                  enableCloseBtn: false
                }"
                store-key="number-color-selection-store"
                @select="onNumberColorSelected"
              >
              </ColorPickerDialog>
            </div>
          </BlockPanel>
        </div>
        <div class="flex-1 flex flex-col">
          <BlockPanel class="p-3">
            <template #title>{{ la.t('.notationFormat') }}</template>
            <NotationFormatSelector
              class="flex-col items-start justify-start"
              :current="currentNfOption.notationFormat"
              @change="onNumberNotationFormatChanged"
            ></NotationFormatSelector>
          </BlockPanel>
          <BlockPanel class="flex-1 p-3">
            <template #title>{{ la.t('.fractionDigit') }}</template>
            <FractionDigitSelector
              class="flex-col items-start justify-start"
              :current="currentNfOption.fractionDigit"
              @change="onNumberFractionDigitChanged"
            ></FractionDigitSelector>
          </BlockPanel>
        </div>
      </div>
    </div>
  </BlockPanel>
</template>
