<script setup lang="ts">
import { type PropType, computed } from 'vue';
import { formatNumber } from '../action';
import { type NumberFormatOption, type NumberFormatColorOption } from '../def';

const props = defineProps({
  value: {
    type: Number,
    required: true
  },
  option: {
    type: Object as PropType<NumberFormatOption>,
    required: true
  },
  color: {
    type: Object as PropType<NumberFormatColorOption>,
    required: false
  }
});

const colorStyle = computed<string>(() => {
  if (props.color) {
    if (props.value > 0 && props.color.positive) {
      return `color: ${props.color.positive}`;
    }
    if (props.value < 0 && props.color.negative) {
      return `color: ${props.color.negative}`;
    }
    if (props.value === 0 && props.color.zero) {
      return `color: ${props.color.zero}`;
    }
  }
  return '';
});
</script>

<template>
  <pre class="font-mono select-text" :style="colorStyle">{{
    formatNumber(props.value, props.option)
  }}</pre>
</template>
