<script setup lang="ts">
import { ref, computed, onActivated, watch } from 'vue';
import { useRouter } from 'vue-router';
import { Icon } from '@iconify/vue';
import mdiContentCopy from '@iconify-icons/mdi/content-copy';
import mdiRefresh from '@iconify-icons/mdi/refresh';
import mdiRun from '@iconify-icons/mdi/run';
import mdiConnection from '@iconify-icons/mdi/connection';
import mdiAccountMultiple from '@iconify-icons/mdi/account-multiple';
import mdiAccount from '@iconify-icons/mdi/account';
import { useCoreStore } from '@base-workspace/bw-core';
import { LocaleActor } from '@base-workspace/bw-locale';
import { BlockPanel, QrCodeImage } from '@base-workspace/bw-ui';
import { useTempleStore } from '../../stores/temple';
import appStatic from '../../static/app.json';
import Layout from '../../components/app/Layout.vue';
import Header from '../../components/app/Header.vue';

const coreStore = useCoreStore();
const router = useRouter();
const templeStore = useTempleStore();

const la = new LocaleActor('pages.temple.connection');

const showCopied = ref<boolean>(false);
const playerNames = ref<string[]>([]);
const codeDisplay = computed<string>(() => {
  if (templeStore.code) {
    return templeStore.code.replace(/(\d{4})(?=\d)/g, '$1-');
  } else {
    return '';
  }
});
const errorCode = computed<string | null>(() => {
  if (playerNames.value.length < 3) {
    return 'player_too_few';
  }
  if (playerNames.value.length > 10) {
    return 'player_too_many';
  }
  return null;
});

const senderLink = computed<string | null>(() => {
  if (templeStore.code) {
    return `${appStatic.appUrl}/#/?code=${templeStore.code}`;
  } else {
    return null;
  }
});

onActivated(async () => {
  coreStore.currentPageCode = 'temple-connection';
  if (templeStore.status() === 'none') {
    templeStore.openArena();
  }
});

watch(
  () => templeStore.playersInfo.uids.length,
  () => {
    playerNames.value = templeStore.playersInfo.uids.map(
      (uid) => templeStore.playersInfo.nameMap[uid]
    );
  }
);

function startGame() {
  templeStore.setupGame();
  router.push({ name: 'temple_start' });
}

function copyCode() {
  navigator.clipboard.writeText(templeStore.code || '').then(() => {
    showCopied.value = true;
  });
}

async function onResetArenaBtnClicked() {
  await templeStore.closeArena();
  templeStore.openArena();
}
</script>

<template>
  <Layout :enable-menu-btn-only-toolbar="true">
    <div
      class="bg-jumbo bg-bottom w-full h-full flex items-center justify-center"
    >
      <div class="px-3 w-full max-w-2xl flex flex-col gap-3">
        <div class="form-control">
          <BlockPanel v-if="senderLink">
            <template #title>
              <div class="flex items-center text-secondary">
                <Icon class="mr-2" :icon="mdiConnection" width="1.2rem" />
                {{ la.t('.portal') }}
              </div>
            </template>
            <div class="flex flex-col items-center">
              <div class="mx-4 flex items-center gap-2">
                <div
                  class="flex-1 p-5 py-2.5 text-2xl select-text cursor-text text-center border rounded"
                >
                  {{ codeDisplay }}
                </div>
                <button
                  class="flex-none w-12 h-12 btn btn-square gap-2"
                  @click="copyCode"
                >
                  <Icon :icon="mdiContentCopy" width="1.5rem" />
                </button>
                <Transition name="fade" @after-enter="showCopied = false">
                  <label v-if="showCopied" class="label">
                    <span class="label-text text-success">{{
                      la.t('core.action.copied')
                    }}</span>
                  </label>
                </Transition>
              </div>
            </div>
            <div class="flex flex-col items-center">
              <a
                class="btn btn-link break-all mx-3"
                target="_blank"
                :href="senderLink"
                >{{ senderLink }}</a
              >
              <QrCodeImage class="mb-4" :text="senderLink"></QrCodeImage>
            </div>
          </BlockPanel>
          <BlockPanel>
            <template #title>
              <div class="flex items-center text-secondary">
                <Icon class="mr-2" :icon="mdiAccountMultiple" width="1.2rem" />
                {{ la.t('.players') }}
              </div>
            </template>
            <div class="m-2 grid grid-cols-1 md:grid-cols-2 gap-2">
              <div
                class="border border-base-200 rounded-lg p-3 flex items-center text-primary"
                v-for="(name, index) in playerNames"
                :key="`${name}_${index}`"
              >
                <Icon class="mr-2" :icon="mdiAccount" width="1.5rem" />
                <div class="w-full overflow-hidden font-bold">
                  {{ name }}
                </div>
              </div>
            </div>
          </BlockPanel>
        </div>
        <div class="border rounded-lg bg-base-100 flex flex-col p-3">
          <label v-if="errorCode" class="label">
            <span class="label-text"></span>
            <span class="label-text-alt text-error">{{
              la.t(`.error.${errorCode}`)
            }}</span>
          </label>
          <div
            class="form-control w-full grid grid-cols-1 md:grid-cols-2 gap-2"
          >
            <button
              class="btn btn-primary gap-2"
              @click="onResetArenaBtnClicked"
            >
              <Icon :icon="mdiRefresh" width="1.5rem" />
              {{ la.t('.reset') }}
            </button>
            <button
              class="btn gap-2"
              @click="startGame"
              :disabled="errorCode !== null"
            >
              <Icon :icon="mdiRun" width="1.5rem" />
              {{ la.t('.start') }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <template #layout-fixed-top-panel>
      <Header></Header>
    </template>
  </Layout>
</template>
<style scoped>
.fade-enter-active {
  transition: opacity 0.5s ease;
  transition-delay: 1s;
}

.fade-enter-from {
  opacity: 100;
}

.fade-enter-to {
  opacity: 0;
}
</style>
