<script setup lang="ts">
import { onActivated } from 'vue';
import { useRouter } from 'vue-router';
import { Icon } from '@iconify/vue';
import GameIconsEgyptianTemple from '@iconify-icons/game-icons/egyptian-temple';
import { useCoreStore } from '@base-workspace/bw-core';
import { useTempleStore } from '../../stores/temple';
import Layout from '../../components/app/Layout.vue';
import Header from '../../components/app/Header.vue';

const coreStore = useCoreStore();
const router = useRouter();
const templeStore = useTempleStore();

onActivated(async () => {
  coreStore.currentPageCode = 'temple';
  if (templeStore.status() === 'none') {
    templeStore.openArena();
  }
  switch (templeStore.gameState.status) {
    case 'init':
    case 'register':
      router.push({ name: 'temple_connection' });
      break;
    case 'playing':
      router.push({ name: 'temple_room' });
      break;
    case 'gameover':
      router.push({ name: 'temple_gameover' });
      break;
  }
});
</script>

<template>
  <Layout :enable-menu-btn-only-toolbar="true">
    <div class="w-full h-full overflow-y-auto">
      <div class="flex flex-col gap-3">
        <Icon :icon="GameIconsEgyptianTemple" width="3rem" />
      </div>
    </div>
    <template #layout-fixed-top-panel>
      <Header></Header>
    </template>
  </Layout>
</template>
