<script setup lang="ts">
import { onActivated } from 'vue';
import { useRouter } from 'vue-router';
import { Icon } from '@iconify/vue';
import mdiConnection from '@iconify-icons/mdi/connection';
import mdiRun from '@iconify-icons/mdi/run';
import mdiAccountMultiple from '@iconify-icons/mdi/account-multiple';
import GameIconsDigDug from '@iconify-icons/game-icons/dig-dug';
import GameIconsTribalShield from '@iconify-icons/game-icons/tribal-shield';
import { useCoreStore } from '@base-workspace/bw-core';
import { LocaleActor } from '@base-workspace/bw-locale';
import { BlockPanel } from '@base-workspace/bw-ui';
import { useTempleStore } from '../../stores/temple';
import Layout from '../../components/app/Layout.vue';
import GameOverPanel from '../../components/panel/GameOverPanel.vue';

const coreStore = useCoreStore();
const router = useRouter();
const la = new LocaleActor('pages.temple.gameover');
const templeStore = useTempleStore();

onActivated(() => {
  coreStore.currentPageCode = 'temple-gameover';
});

function goToConnection() {
  router.push({ name: 'temple_connection' });
}

function startNewGame() {
  templeStore.setupGame();
  router.push({ name: 'temple_start' });
}
</script>

<template>
  <Layout :enable-menu-btn-only-toolbar="true">
    <div
      class="w-full h-full p-3 overflow-y-auto flex flex-col justify-center items-center gap-5"
    >
      <GameOverPanel
        v-if="templeStore.gameOverInfo"
        :game-over-info="templeStore.gameOverInfo"
      ></GameOverPanel>
      <BlockPanel class="w-full max-w-2xl">
        <template #title>
          <div class="flex items-center text-secondary">
            <Icon class="mr-2" :icon="mdiAccountMultiple" width="1.2rem" />
            {{ la.t('.players') }}
          </div>
        </template>
        <div class="m-2 grid grid-cols-1 md:grid-cols-2 gap-2">
          <div
            class="border border-base-200 rounded-lg p-3 flex items-center text-primary"
            v-for="(result, i) in templeStore.gameOverResult"
            :key="i"
          >
            <Icon
              v-if="result.role === 'adventurer'"
              class="adventurer mr-3"
              :icon="GameIconsDigDug"
              width="3rem"
            />
            <Icon
              v-if="result.role === 'guardian'"
              class="guardian mr-3"
              :icon="GameIconsTribalShield"
              width="3rem"
            />
            <div class="w-full overflow-hidden font-bold">
              {{ result.name }}
            </div>
          </div>
        </div>
      </BlockPanel>
      <div class="w-full max-w-2xl grid grid-cols-1 md:grid-cols-2 gap-2">
        <button class="flex-none btn gap-2" @click="goToConnection">
          <Icon :icon="mdiConnection" width="1.5rem" />
          {{ la.t('.goToConnection') }}
        </button>
        <button
          :disabled="templeStore.playersInfo.uids.length < 3"
          class="flex-none btn btn-primary gap-2"
          @click="startNewGame"
        >
          <Icon :icon="mdiRun" width="1.5rem" />
          {{ la.t('.newGame') }}
        </button>
      </div>
    </div>
    <template #toolbar-main-menu> </template>
  </Layout>
</template>
