<script setup lang="ts">
import { onActivated, watch } from 'vue';
import { useRouter } from 'vue-router';
import { Icon } from '@iconify/vue';
import GameIconsDungeonGate from '@iconify-icons/game-icons/dungeon-gate';
import mdiRun from '@iconify-icons/mdi/run';
import { useCoreStore } from '@base-workspace/bw-core';
import { LocaleActor } from '@base-workspace/bw-locale';
import { useTempleStore } from '../../stores/temple';
import { Uid } from '@base-workspace/bw-model';
import Layout from '../../components/app/Layout.vue';
import CounterPanel from '../../components/panel/CounterPanel.vue';
import DoorPanel from '../../components/panel/DoorPanel.vue';

const coreStore = useCoreStore();
const router = useRouter();
const templeStore = useTempleStore();

const la = new LocaleActor('pages.temple.room');

onActivated(() => {
  coreStore.currentPageCode = 'temple-room';
});

watch(
  () => templeStore.gameState.status,
  (newStatus) => {
    if (newStatus === 'gameover') {
      router.push({ name: 'temple_gameover' });
      return;
    }
  }
);

function doorHighlightNum(uid: Uid): number | undefined {
  const lastDoorOpen = templeStore.gameState.lastDoorOpen;
  if (!lastDoorOpen) {
    return undefined;
  }
  if (lastDoorOpen.uid === uid) {
    return lastDoorOpen.num;
  }
  return undefined;
}

function startNextRound() {
  templeStore.setupRound();
}
</script>

<template>
  <Layout :enable-menu-btn-only-toolbar="true">
    <div
      class="w-full h-full p-3 flex flex-col items-stretch justify-between gap-2"
    >
      <CounterPanel :public-info="templeStore.gameState"></CounterPanel>
      <div
        v-if="
          templeStore.gameState.status === 'playing' ||
          templeStore.gameState.status === 'next-round'
        "
        class="flex-1 overflow-y-auto"
      >
        <div class="grid md:grid-cols-2 md:gap-5 md:pt-3">
          <DoorPanel
            v-for="uid in templeStore.playersInfo.uids"
            :key="uid"
            :uid="uid"
            :player-name="templeStore.playersInfo.nameMap[uid]"
            :is-key-holder="templeStore.gameState.keyholderUid === uid"
            :doors="templeStore.gameState.playerOpenDoorMap[uid]"
            :highlight="doorHighlightNum(uid)"
            mode="display"
          ></DoorPanel>
        </div>
      </div>
      <div
        v-if="templeStore.gameState.status === 'next-round'"
        class="flex-none p-8 border rounded-lg flex items-center justify-center gap-8"
      >
        <Icon :icon="GameIconsDungeonGate" width="6rem" />
        <div class="flex flex-col gap-5">
          <div class="text-2xl font-bold">
            {{ la.t('.roundEnd') }}
          </div>
          <button
            class="flex-none btn btn-primary gap-2"
            @click="startNextRound"
          >
            <Icon :icon="mdiRun" width="1.5rem" />
            {{ la.t('.startNextRound') }}
          </button>
        </div>
      </div>
    </div>
  </Layout>
</template>
