<script setup lang="ts">
import { ref, onActivated } from 'vue';
import { useRouter } from 'vue-router';
import { Icon } from '@iconify/vue';
import mdiCards from '@iconify-icons/mdi/cards';
import mdiKeyVariant from '@iconify-icons/mdi/key-variant';
import { useCoreStore } from '@base-workspace/bw-core';
import { LocaleActor } from '@base-workspace/bw-locale';
import Layout from '../../components/app/Layout.vue';
import RulePanel from '../../components/panel/RulePanel.vue';

const coreStore = useCoreStore();
const router = useRouter();
const la = new LocaleActor('pages.temple.start');

const currentRule = ref<number>(1);

onActivated(() => {
  coreStore.currentPageCode = 'temple-start';
});

function dispatchRoleAndDoors() {}
</script>

<template>
  <Layout :enable-menu-btn-only-toolbar="true">
    <div class="w-full h-full flex flex-col items-center justify-center gap-2">
      <RulePanel></RulePanel>
      <div class="px-3 w-full max-w-lg flex flex-col gap-3">
        <div class="form-control w-full flex flex-col md:flex-row gap-2">
          <button
            class="flex-1 btn btn-primary gap-2"
            @click="dispatchRoleAndDoors"
          >
            <Icon :icon="mdiCards" width="1.5rem" />
            {{ la.t('.dispatchRoleAndDoors') }}
          </button>
        </div>
      </div>
    </div>
  </Layout>
</template>
