<script setup lang="ts">
import { onActivated } from 'vue';
import { useRouter } from 'vue-router';
import { Icon } from '@iconify/vue';
import mdiKeyVariant from '@iconify-icons/mdi/key-variant';
import { useCoreStore } from '@base-workspace/bw-core';
import { LocaleActor } from '@base-workspace/bw-locale';
import { useTempleStore } from '../../stores/temple';
import Layout from '../../components/app/Layout.vue';
import RulePanel from '../../components/panel/RulePanel.vue';

const coreStore = useCoreStore();
const router = useRouter();
const templeStore = useTempleStore();
const la = new LocaleActor('pages.temple.start');

onActivated(() => {
  coreStore.currentPageCode = 'temple-start';
});

function pickKeyHolder() {
  templeStore.randomPickFirstKeyHolder();
  router.push({ name: 'temple_room' });
}
</script>

<template>
  <Layout :enable-menu-btn-only-toolbar="true">
    <div class="w-full h-full flex flex-col items-center justify-center gap-2">
      <RulePanel class="pb-0"></RulePanel>
      <div class="px-3 w-full max-w-lg flex flex-col gap-3">
        <div class="form-control w-full flex flex-col md:flex-row gap-2">
          <button class="flex-1 btn btn-primary gap-2" @click="pickKeyHolder">
            <Icon :icon="mdiKeyVariant" width="1.5rem" />
            {{ la.t('.pickKeyHolder') }}
          </button>
        </div>
      </div>
    </div>
  </Layout>
</template>
