@layer components {
  .bg-banner {
    background-repeat: no-repeat;
    background-position: 0% 100%;
  }
  .bg-jumbo {
    background-repeat: no-repeat;
  }
  [data-theme='ocean'] .bg-banner,
  .bg-banner-ocean {
    background-image: url(/assets/images/theme/ocean_banner.svg);
  }
  [data-theme='sakura'] .bg-banner,
  .bg-banner-sakura {
    background-image: url(/assets/images/theme/sakura_banner.svg);
  }
  [data-theme='forest'] .bg-banner,
  .bg-banner-forest {
    background-image: url(/assets/images/theme/forest_banner.svg);
  }
  [data-theme='antique'] .bg-banner,
  .bg-banner-antique {
    background-image: url(/assets/images/theme/antique_banner.svg);
  }
  [data-theme='ocean'] .bg-jumbo,
  .bg-jumbo-ocean {
    background-image: url(/assets/images/theme/ocean_jumbo.svg);
  }
  [data-theme='sakura'] .bg-jumbo,
  .bg-jumbo-sakura {
    background-image: url(/assets/images/theme/sakura_jumbo.svg);
  }
  [data-theme='forest'] .bg-jumbo,
  .bg-jumbo-forest {
    background-image: url(/assets/images/theme/forest_jumbo.svg);
  }
  [data-theme='antique'] .bg-jumbo,
  .bg-jumbo-antique {
    background-image: url(/assets/images/theme/antique_jumbo.svg);
  }
}
