<script setup lang="ts">
import { ref, watch } from 'vue';
import { useI18n } from 'vue-i18n';
import { Icon } from '@iconify/vue';
import mdiMapClock from '@iconify-icons/mdi/map-clock';
import { BlockPanel } from '@base-workspace/bw-ui';
import { LocaleActor } from '@base-workspace/bw-locale';
import { LOCALE_MAP } from '../locales';
import TimeZoneSelectorDialog from './TimeZoneSelectorDialog.vue';
import TimeZonePanel from './TimeZonePanel.vue';
import { TimeZoneValue } from '../action';

const { t } = useI18n({ useScope: 'local', messages: LOCALE_MAP });
const la = new LocaleActor('data', t);

const props = defineProps({
  current: {
    type: String,
    required: false
  }
});

const currentTz = ref(props.current);

const emit = defineEmits<{
  change: [value: string];
}>();

watch(
  () => props.current,
  (newValue) => {
    currentTz.value = newValue;
  }
);

function onTimeZoneChanged(tz: string): void {
  emit('change', tz);
}

const timeZoneSelectorDialog = ref();
</script>

<template>
  <BlockPanel class="w-full max-w-lg mx-2 p-3">
    <template #title>
      <div class="flex items-center text-secondary">
        <Icon class="mr-2" :icon="mdiMapClock" width="1.2rem" />
        {{ la.t('.title') }}
      </div>
    </template>
    <button
      class="w-full py-2 hover:bg-base-300 rounded-full"
      @click="timeZoneSelectorDialog.toggleDialog()"
    >
      <TimeZonePanel
        class="mx-auto w-fit"
        :time-zone="currentTz as TimeZoneValue"
      ></TimeZonePanel>
    </button>
    <TimeZoneSelectorDialog
      ref="timeZoneSelectorDialog"
      :current="currentTz"
      @change="onTimeZoneChanged"
    ></TimeZoneSelectorDialog>
  </BlockPanel>
</template>
